In [1288]:
import numpy as np
import pandas as pd
from math import sqrt 
import warnings
warnings.filterwarnings('ignore')

In [1289]:
movie_movielens = pd.read_csv('/movie-lens-100k/movies.csv')
movielens_temp=pd.read_csv('/movie-lens-100k/movies.csv')
rating = pd.read_csv('/movie-lens-100k/ratings.csv')
movie_tmdb=pd.read_csv('/tmdb-movie-metadata/tmdb_5000_movies.csv')

In [1290]:
movie_movielens.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [1291]:
movie_movielens.shape

(9125, 3)

In [1292]:
rating.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [1293]:
rating.shape

(100004, 4)

In [1294]:
movie_tmdb.shape

(4803, 20)

In [1295]:
movie_tmdb.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [1296]:
movielens_temp['year']=movielens_temp.title.str.extract('(\d\d\d\d)',expand=False)
movie_movielens['year']=movie_movielens.title.str.extract('(\d\d\d\d)',expand=False)
movie_movielens.head()

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995

In [1297]:
movielens_temp['title']=movielens_temp.title.str.replace('(\(\d\d\d\d\))','',regex=True)
movielens_temp['title']=movielens_temp['title'].apply(lambda x:x.strip())
movie_movielens['title']=movie_movielens.title.str.replace('(\(\d\d\d\d\))','',regex=True)
movie_movielens['title']=movie_movielens['title'].apply(lambda x:x.strip())
movie_movielens.head()

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

In [1298]:
movie_tmdb['original_title'] = movie_tmdb['original_title'].astype(str).str.lower().str.replace(' ', '')
movie_movielens['title'] = movie_movielens['title'].astype(str).str.lower().str.replace(' ', '')

In [1299]:
len(movie_movielens['title'].unique())

8889

In [1300]:
len(movie_tmdb['original_title'].unique())

4801

In [1301]:
duplicate_values = movie_tmdb.duplicated(subset='original_title', keep=False)

# Filter the DataFrame to keep only rows with unique values in the specified column
movie_tmdb = movie_tmdb[~duplicate_values]

In [1302]:
movie_tmdb.shape

(4799, 20)

In [1303]:
duplicate_values = movie_movielens.duplicated(subset='title', keep=False)

# Filter the DataFrame to keep only rows with unique values in the specified column
movie_movielens = movie_movielens[~duplicate_values]

In [1304]:
movie_movielens.shape

(8675, 4)

In [1305]:
movie=movie_movielens[movie_movielens['title'].isin(movie_tmdb['original_title'].tolist())]
movie.shape

(2455, 4)

In [1306]:
movie=movielens_temp[movielens_temp['movieId'].isin(movie['movieId'].tolist())]
movie.shape

(2455, 4)

In [1307]:
movie.head()

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
9,10,GoldenEye,Action|Adventure|Thriller,1995
13,14,Nixon,Drama,1995
14,15,Cutthroat Island,Action|Adventure|Romance,1995
15,16,Casino,Crime|Drama,1995

In [1308]:
movie.shape

(2455, 4)

In [1309]:
len(movie.index)

2455

In [1310]:
movie.drop(columns=['genres'],inplace=True)
movie.head()

    movieId             title  year
0         1         Toy Story  1995
9        10         GoldenEye  1995
13       14             Nixon  1995
14       15  Cutthroat Island  1995
15       16            Casino  1995

In [1311]:
rating=rating[rating['movieId'].isin(movie['movieId'].tolist())]
rating.shape

(46710, 4)

In [1312]:
rating.head()

    userId  movieId  rating   timestamp
2        1     1061     3.0  1260759182
3        1     1129     2.0  1260759185
7        1     1293     2.0  1260759148
10       1     1371     2.5  1260759135
11       1     1405     1.0  1260759203

In [1313]:
rating.drop(columns=['timestamp'],inplace=True)

In [1314]:
rating.head()

    userId  movieId  rating
2        1     1061     3.0
3        1     1129     2.0
7        1     1293     2.0
10       1     1371     2.5
11       1     1405     1.0

In [1315]:
unique_user_ids=rating['userId'].unique()
len(unique_user_ids)

671

In [1316]:
from sklearn.model_selection import train_test_split
train_userIds,test_userIds=train_test_split(unique_user_ids,test_size=0.2, random_state=42)
len(train_userIds)

536

In [1317]:
len(test_userIds)

135

In [1318]:
rating.head()

    userId  movieId  rating
2        1     1061     3.0
3        1     1129     2.0
7        1     1293     2.0
10       1     1371     2.5
11       1     1405     1.0

In [1319]:
train_rating = pd.DataFrame(columns=rating.columns)
test_rating = pd.DataFrame(columns=rating.columns)

for userId in train_userIds:
    train_rating=pd.concat([train_rating,rating[rating['userId']==userId]],ignore_index=True)

for userId in test_userIds:
    test_rating=pd.concat([test_rating,rating[rating['userId']==userId]],ignore_index=True)

In [1320]:
train_rating

      userId movieId  rating
0        480       1     5.0
1        480      34     3.5
2        480     110     4.0
3        480     150     4.5
4        480     158     4.5
...      ...     ...     ...
35478    103    5816     4.0
35479    103    6502     4.0
35480    103    6874     5.0
35481    103    7438     5.0
35482    103    8636     3.5

[35483 rows x 3 columns]

In [1321]:
test_rating

      userId movieId  rating
0        362      70     3.5
1        362     235     3.0
2        362     296     4.5
3        362     356     4.0
4        362     541     4.5
...      ...     ...     ...
11222    236    5009     3.5
11223    236    5378     2.5
11224    236    5440     4.5
11225    236    5989     4.5
11226    236    6711     4.5

[11227 rows x 3 columns]

In [1322]:
#Create user profile from user ID (get it from data set)
import random
inputUserID = random.choice(test_userIds)
print(inputUserID)
inputUser = test_rating[test_rating['userId']==inputUserID]
inputUser.shape

635

(11, 3)

In [1323]:
inputUser.head()

     userId movieId  rating
1997    635     111     3.5
1998    635     296     3.5
1999    635     527     2.0
2000    635    1089     4.0
2001    635    1193     4.0

In [1324]:
movie.head()

    movieId             title  year
0         1         Toy Story  1995
9        10         GoldenEye  1995
13       14             Nixon  1995
14       15  Cutthroat Island  1995
15       16            Casino  1995

In [1325]:
inputUserData = pd.merge(inputUser,movie)
inputUserData.head()

  userId movieId  rating                            title  year
0    635     111     3.5                      Taxi Driver  1976
1    635     296     3.5                     Pulp Fiction  1994
2    635     527     2.0                 Schindler's List  1993
3    635    1089     4.0                   Reservoir Dogs  1992
4    635    1193     4.0  One Flew Over the Cuckoo's Nest  1975

In [1326]:
train_rating.head()

  userId movieId  rating
0    480       1     5.0
1    480      34     3.5
2    480     110     4.0
3    480     150     4.5
4    480     158     4.5

In [1327]:
users=train_rating[train_rating['movieId'].isin(inputUserData['movieId'].tolist())]
users

      userId movieId  rating
8        480     296     4.0
33       480    1089     4.5
46       480    1485     4.5
75       480    2959     3.5
144      480    8874     5.0
...      ...     ...     ...
35384    271     296     4.5
35413    271    2329     4.0
35423    436     111     4.0
35461    103    2329     4.5
35466    103    2959     5.0

[1172 rows x 3 columns]

In [1328]:
users.shape

(1172, 3)

In [1329]:
#this step is not required as train and test data are different
users=users.drop(users[users['userId']==inputUserID].index)
users.shape

(1172, 3)

In [1330]:
userSubsetGroup=users.groupby(['userId'])

In [1331]:
userSubsetGroup.head()

      userId movieId  rating
8        480     296     4.0
33       480    1089     4.5
46       480    1485     4.5
75       480    2959     3.5
144      480    8874     5.0
...      ...     ...     ...
35384    271     296     4.5
35413    271    2329     4.0
35423    436     111     4.0
35461    103    2329     4.5
35466    103    2959     5.0

[1054 rows x 3 columns]

In [1332]:
userSubsetGroup=sorted(userSubsetGroup,key=lambda x:len(x[1]),reverse=True)

In [1333]:
userSubsetGroup[0:1]

[((15,),
        userId movieId  rating
  28262     15     111     5.0
  28284     15     296     5.0
  28300     15     527     4.0
  28340     15    1089     4.0
  28347     15    1193     5.0
  28382     15    1485     3.0
  28454     15    2329     1.0
  28507     15    2959     5.0
  28597     15    3994     4.0
  28784     15    8874     2.5
  29043     15  112552     1.5)]

In [1334]:
inputUserData.head()

  userId movieId  rating                            title  year
0    635     111     3.5                      Taxi Driver  1976
1    635     296     3.5                     Pulp Fiction  1994
2    635     527     2.0                 Schindler's List  1993
3    635    1089     4.0                   Reservoir Dogs  1992
4    635    1193     4.0  One Flew Over the Cuckoo's Nest  1975

In [1335]:
from scipy.spatial.distance import cosine


pearsonCorDic = {}
cosineSimilarityDic = {}

for name, group in userSubsetGroup:
    group=group.sort_values(by='movieId') #here they are already sorted
    inputUserData=inputUserData.sort_values(by='movieId') #here they are already in sorted order
    
    n=len(group)
    
    #Get the ratings for the movies that are common 
    temp=inputUserData[inputUserData['movieId'].isin(group['movieId'].tolist())]
    
    tempRatingList=temp['rating'].tolist()
    tempGroupList=group['rating'].tolist()
        
    x_mean=sum(tempRatingList)/float(n)
    y_mean=sum(tempGroupList)/float(n)
    
    Sxx= sqrt(sum(pow((i-x_mean),2) for i in tempRatingList))
    Syy= sqrt(sum(pow((i-y_mean),2) for i in tempGroupList))
    
    Sxy= sum((tempRatingList[i]-x_mean)*(tempGroupList[i]-y_mean) for i in range(0,n))
    
    #if denominator is not 0, then divide else 0 correlation
    
    if Sxx!=0 and Syy!=0:
        pearsonCorDic[name[0]]=Sxy/(Sxx*Syy)
    else:
        pearsonCorDic[name[0]]=0
        
    #Calculating cosine similarity
    vector_a = np.array(tempRatingList)
    vector_b = np.array(tempGroupList)
    
    norm_a = np.linalg.norm(vector_a)
    norm_b = np.linalg.norm(vector_b)
    
    vector_a_normalized = vector_a / norm_a
    vector_b_normalized = vector_b / norm_b
    
    cosine_similarity = np.dot(vector_a_normalized,vector_b_normalized)
    
    cosineSimilarityDic[name[0]]=cosine_similarity

In [1336]:
pearsonCorDic.items()

dict_items([(15, 0.11150015294068492), (461, -4.028859127438572e-17), (547, -0.385659195478239), (17, 0.17820158745248058), (30, -0.2919120224759156), (468, 0.2846361599575971), (509, -0.2906591794880899), (23, 0.01665510463498261), (94, -0.47533295971786166), (243, 0.669374346314434), (262, 0.26709196421662046), (268, -0.578769403495685), (388, -0.21520264493646468), (450, 0.27307758888591627), (452, 0.01056383870062615), (544, -0.5050495243689606), (615, -0.3620330940191084), (664, 0.46291004988627577), (48, 0.23377812812322404), (88, 0.4216277813128003), (105, 0.5477225575051661), (125, -0.5103103630798287), (178, -0.48238191061886615), (345, 0.48304589153964805), (380, -0.19802950859533489), (423, -0.12499999999999997), (433, 0.01321406407718703), (472, 0.25617376914899), (519, 0.9233805168766386), (520, -0.5773502691896258), (564, 0.6842968850192395), (608, 0.22047927592204924), (654, -0.3459510000515284), (59, -0.4435776522811298), (138, -0.10846522890932808), (187, 0.7462025072446364), (199, -0.3860936712526722), (220, -0.4743416490252569), (232, 0.9707253433941511), (245, -0.25000000000000006), (253, 0.7661308776828738), (295, -0.7220285378321422), (297, 0.30151134457776363), (309, -0.405998971470575), (358, -0.12838814775327387), (431, 0.32635697593225266), (454, -0.4925182813112042), (463, -0.35931349533480844), (494, -0.43301270189221935), (522, 0.8323901147703647), (561, -0.17326508598327026), (563, 0.7416198487095665), (584, -0.6303868004187867), (587, -0.40757732270630875), (598, 0.1754116038614058), (627, 0.19482162504979922), (8, -0.3152441624956402), (26, 0.3962029078465306), (72, -0.3001225239993906), (97, 0.3375061807581558), (143, 0.9185586535436918), (150, -0.23312620206007845), (152, -0.7484551991837486), (195, -0.4564354645876384), (214, -0.38888888888888884), (240, -0.29484598755723435), (250, -0.4564354645876384), (267, -0.6666666666666666), (304, 0.9532062476387965), (378, 0.44444444444444425), (384, 0.8964214570007952), (428, 0), (430, -0.16666666666666666), (432, 0.9525793444156802), (442, 0), (475, 0.1336306209562122), (480, -0.11566298639324807), (501, 0.408248290463863), (505, -0.5819143739626463), (528, -0.16666666666666666), (562, 0.21004201260420155), (574, 0.0), (607, 0.6846531968814576), (647, -0.4082482904638631), (648, 0.2809757434745082), (665, -0.24397501823713327), (21, -0.9684959969581863), (22, -0.7071067811865475), (34, 0.0880450906325624), (84, -1.0), (118, -0.6666666666666666), (124, -0.5773502691896257), (130, 0.3429971702850177), (157, 0.7745966692414833), (160, 0.9710607611177228), (185, -0.19245008972987526), (201, 0.19245008972987526), (230, -0.30151134457776363), (231, -0.5773502691896258), (242, 0), (270, 0.5773502691896258), (292, 0.5773502691896257), (313, -0.8320502943378437), (352, -0.8944271909999159), (370, 0.3333333333333333), (371, 0.5773502691896258), (373, 0.6666666666666666), (379, -0.6666666666666666), (407, 0.3333333333333333), (412, -0.3823595564509362), (425, -0.0880450906325624), (434, -0.2357022603955158), (458, -0.6666666666666666), (510, 0.49892218025118684), (514, -0.5773502691896258), (527, 0.0), (560, -0.30151134457776363), (583, 0.0), (585, -0.440225453162812), (623, 0.457495710997814), (20, -1.0000000000000002), (27, -1.0000000000000002), (36, -1.0000000000000002), (38, 0.0), (62, 0.5000000000000001), (69, -0.27735009811261463), (95, -1.0), (99, -1.0000000000000002), (107, -0.5000000000000001), (147, 1.0000000000000002), (164, 1.0000000000000002), (168, -0.5000000000000001), (171, 0), (181, 0), (208, -0.5), (215, 0.6933752452815364), (219, 0.6933752452815364), (247, -0.5000000000000001), (273, 0), (274, 0), (281, -0.9707253433941511), (291, 1.0), (294, -1.0000000000000002), (299, 0.5000000000000001), (306, -0.5000000000000001), (334, 0.0), (342, -0.2773500981126145), (344, 0.6933752452815364), (348, 0.0), (350, 0), (359, -0.2773500981126146), (367, -0.2773500981126146), (385, 1.0000000000000002), (386, -0.5000000000000001), (387, 0.9707253433941508), (391, -0.2773500981126145), (426, -0.9707253433941511), (439, 1.0000000000000002), (460, 0.5000000000000001), (502, -0.5000000000000001), (503, 0), (518, -0.2401922307076307), (521, -0.2773500981126145), (529, -0.8910421112136307), (537, -0.2773500981126146), (545, 0), (559, 0.5), (567, -0.5000000000000001), (570, 0.6546536707079772), (577, 1.0000000000000002), (594, 0), (595, 0), (606, 0.5000000000000001), (613, 0.0), (617, -0.8660254037844387), (655, 0), (2, 0), (4, 0), (5, -1.0), (6, 0), (13, -1.0), (33, 0), (53, 0.9999999999999998), (60, 1.0), (63, 0.9999999999999998), (75, -1.0), (81, 0), (85, 1.0000000000000002), (86, 0), (89, 0), (92, 0), (98, 0), (103, -0.9999999999999998), (115, -0.9999999999999998), (116, 0), (120, 0), (122, -1.0), (128, -1.0), (144, 1.0), (151, 0), (153, 0), (155, 0), (163, -1.0), (172, 1.0), (175, 0), (176, 1.0), (180, 0), (184, 1.0), (186, -0.9999999999999998), (188, 0), (194, -1.0), (216, 1.0), (235, 1.0), (248, 0), (263, 0), (266, -1.0), (271, -0.9999999999999998), (278, 0), (283, -1.0), (288, 0), (324, 1.0), (328, 1.0), (338, -1.0), (346, 1.0), (360, -0.9999999999999998), (369, -1.0), (376, 0), (381, 0), (392, 0.9999999999999998), (400, 1.0), (406, 1.0), (408, 0.9999999999999998), (410, 1.0), (411, 0), (419, -1.0), (422, 0), (427, 0), (429, -0.9999999999999998), (441, 0), (447, 0), (455, 0.9999999999999998), (466, -1.0), (471, 0), (476, 0), (487, -1.0), (488, 0), (499, 0), (511, 0), (513, 0), (516, 0), (523, 0.9999999999999998), (530, 0), (533, 0), (534, 0), (539, 0), (541, -0.9999999999999998), (550, 0), (553, 0), (554, 0), (573, 0), (578, 1.0), (586, 1.0), (588, 0), (590, 0), (592, 1.0), (603, 0), (614, 1.0), (621, -1.0), (632, 0), (639, 0), (649, 1.0), (662, -1.0), (666, 1.0), (671, 0), (9, 0), (10, 0), (12, 0), (16, 0), (24, 0), (37, 0), (39, 0), (43, 0), (47, 0), (67, 0), (68, 0), (74, 0), (93, 0), (96, 0), (101, 0), (104, 0), (108, 0), (112, 0), (117, 0), (123, 0), (129, 0), (139, 0), (140, 0), (142, 0), (145, 0), (146, 0), (161, 0), (169, 0), (173, 0), (189, 0), (191, 0), (192, 0), (198, 0), (202, 0), (207, 0), (224, 0), (225, 0), (228, 0), (229, 0), (234, 0), (237, 0), (238, 0), (239, 0), (241, 0), (244, 0), (254, 0), (255, 0), (259, 0), (260, 0), (264, 0), (275, 0), (287, 0), (298, 0), (305, 0), (314, 0), (316, 0), (317, 0), (321, 0), (323, 0), (326, 0), (327, 0), (330, 0), (331, 0), (333, 0), (336, 0), (340, 0), (343, 0), (351, 0), (354, 0), (366, 0), (375, 0), (383, 0), (390, 0), (399, 0), (403, 0), (409, 0), (415, 0), (416, 0), (417, 0), (420, 0), (435, 0), (436, 0), (440, 0), (445, 0), (449, 0), (451, 0), (470, 0), (473, 0), (486, 0), (489, 0), (491, 0), (495, 0), (497, 0), (506, 0), (531, 0), (532, 0), (536, 0), (543, 0), (546, 0), (548, 0), (556, 0), (568, 0), (569, 0), (571, 0), (575, 0), (589, 0), (593, 0), (597, 0), (600, 0), (605, 0), (609, 0), (610, 0), (612, 0), (620, 0), (622, 0), (628, 0), (631, 0), (633, 0), (643, 0), (644, 0), (657, 0), (661, 0), (669, 0), (670, 0)])

In [1337]:
cosineSimilarityDic.items()

dict_items([(15, 0.9227011102612477), (461, 0.9584502218257018), (547, 0.9410807009140532), (17, 0.9823009926658164), (30, 0.9547147403764173), (468, 0.9661065690291286), (509, 0.9471908268072774), (23, 0.9676105312711196), (94, 0.9321036446131276), (243, 0.9838396284495621), (262, 0.9775315689601098), (268, 0.9161130222207795), (388, 0.9453057045804331), (450, 0.9838259270345976), (452, 0.9432995220134445), (544, 0.9703664281556812), (615, 0.9639768546525715), (664, 0.9916827122899807), (48, 0.970110678939007), (88, 0.9439187247102888), (105, 0.9982103059607516), (125, 0.9650246134647417), (178, 0.9728869053710931), (345, 0.9860177325458912), (380, 0.9757455633855074), (423, 0.9910986702920488), (433, 0.9472943087097763), (472, 0.9448125950970058), (519, 0.9959991950703634), (520, 0.9706199339418922), (564, 0.9798747541127097), (608, 0.9816066318789634), (654, 0.9512007242566081), (59, 0.9535234906122403), (138, 0.9654710210907148), (187, 0.9910155233698451), (199, 0.9587485736899511), (220, 0.9500868849869024), (232, 0.9862217346229053), (245, 0.9076352477286183), (253, 0.9918371399051232), (295, 0.8978872704229619), (297, 0.9917565273940796), (309, 0.9702616941612223), (358, 0.9466382788624976), (431, 0.9616162761173925), (454, 0.975009539358732), (463, 0.9550560527716239), (494, 0.9684395438332865), (522, 0.989495043230521), (561, 0.9332417892437713), (563, 0.9921673745012765), (584, 0.951028176600355), (587, 0.9465448592413349), (598, 0.9595536028871375), (627, 0.9101840270360035), (8, 0.9532063841608774), (26, 0.9676868269078517), (72, 0.9711099954675527), (97, 0.9331804618472497), (143, 0.9914260068081623), (150, 0.9555695302053201), (152, 0.9778944939397303), (195, 0.9091372900969897), (214, 0.9632347153529346), (240, 0.9587988448976371), (250, 0.963104232665204), (267, 0.9944464389589831), (304, 0.9766145344124029), (378, 0.9811890494319073), (384, 0.989368217531245), (428, 0.9978157964455983), (430, 0.9960183830073368), (432, 0.9950456150874907), (442, 0.9632419486019034), (475, 0.9956244323845294), (480, 0.9699690413940276), (501, 0.9244849430274025), (505, 0.9581185207526685), (528, 0.9942633294482882), (562, 0.9747891839254911), (574, 0.9911455268335505), (607, 0.9854373031669961), (647, 0.9668928237852299), (648, 0.975477879516294), (665, 0.9500739116607436), (21, 0.888402312464543), (22, 0.9743629778771096), (34, 0.9688527042309185), (84, 0.9783497031189413), (118, 0.9518771749586078), (124, 0.9213475295997331), (130, 0.9226220933261875), (157, 0.9916159609060925), (160, 0.9946672537315288), (185, 0.9486550982586419), (201, 0.9737591410132116), (230, 0.992009890024218), (231, 0.9887535853608559), (242, 0.9743911956946198), (270, 0.9985120107170955), (292, 0.9730085108210398), (313, 0.8868791472623199), (352, 0.9781078072723743), (370, 0.9771111617387351), (371, 0.998463839851755), (373, 0.9849859462615158), (379, 0.963906956850374), (407, 0.9767087534357889), (412, 0.8741884564920108), (425, 0.9503138806464533), (434, 0.9502880232880084), (458, 0.9157303370786516), (510, 0.9460435581268558), (514, 0.9901783552186145), (527, 0.9868800746021713), (560, 0.9636497171826883), (583, 0.9898125048701336), (585, 0.9583063596641946), (623, 0.9760830388066271), (20, 0.6128364798273251), (27, 0.9428090415820634), (36, 0.9428090415820634), (38, 0.9693476163322097), (62, 0.9954728632785321), (69, 0.9429576233418175), (95, 0.9614890453604711), (99, 0.9316142209946916), (107, 0.9665860377618121), (147, 0.9833476453530574), (164, 0.9999057537342988), (168, 0.9886183566695658), (171, 0.9979402655783316), (181, 0.9981149841863163), (208, 0.9945358423571875), (215, 0.9795959999578474), (219, 0.9795959999578474), (247, 0.9266914600593301), (273, 0.9988130559615214), (274, 0.997940265578332), (281, 0.9519026763534344), (291, 0.9994056463070786), (294, 0.9437333462702184), (299, 0.9882871850048919), (306, 0.9418896761351423), (334, 0.993429526225186), (342, 0.9284620517995599), (344, 0.9795959999578474), (348, 0.9777777777777776), (350, 0.9981149841863163), (359, 0.9595917685571617), (367, 0.9595917685571617), (385, 0.9914573982080402), (386, 0.9568716750147366), (387, 0.9972370185995274), (391, 0.9284620517995599), (426, 0.9500721775419083), (439, 0.9891004919611717), (460, 0.9980276287056891), (502, 0.9899771639485079), (503, 0.9649012813540155), (518, 0.9338592095470355), (521, 0.9604942588980636), (529, 0.8399991796887016), (537, 0.9537089301847874), (545, 0.9979402655783316), (559, 0.9547859244962515), (567, 0.9687741805046264), (570, 0.9743355922653232), (577, 0.9914573982080402), (594, 0.9658242787731628), (595, 0.9979402655783316), (606, 0.9961110313020486), (613, 0.9940326972052327), (617, 0.8956685895029601), (655, 0.9941348467724342), (2, 0.9647638212377321), (4, 0.9977851578566088), (5, 0.8682431421244591), (6, 0.9982743731749959), (13, 0.9451247121831625), (33, 0.9977851578566088), (53, 0.9990282349375621), (60, 0.99992742842619), (63, 0.9999022100525727), (75, 0.9451247121831625), (81, 1.0), (85, 0.9904048953654894), (86, 0.9647638212377321), (89, 1.0), (92, 0.9647638212377321), (98, 0.9986178293325099), (103, 0.9929098869053521), (115, 0.991150442477876), (116, 0.9191450300180581), (120, 0.9970544855015816), (122, 0.7452413135250994), (128, 0.656780744804202), (144, 0.9879195263882263), (151, 0.9647638212377321), (153, 0.9938837346736191), (155, 0.9486832980505137), (163, 0.87214304111361), (172, 0.9879195263882263), (175, 1.0), (176, 0.9922778767136677), (180, 0.9486832980505137), (184, 0.9879195263882263), (186, 0.9921572222264534), (188, 0.9647638212377321), (194, 0.87214304111361), (216, 0.9879195263882263), (235, 0.99992742842619), (248, 0.9486832980505137), (263, 0.995893206467704), (266, 0.87214304111361), (271, 0.9921572222264534), (278, 1.0), (283, 0.9496012091602397), (288, 0.9647638212377321), (324, 0.9821022792346162), (328, 0.9922778767136677), (338, 0.87214304111361), (346, 0.948683298050514), (360, 0.9843366432473037), (369, 0.9298066130712718), (376, 0.9486832980505137), (381, 0.9486832980505138), (392, 0.9999694838187878), (400, 0.9879195263882263), (406, 0.9952115912359734), (408, 0.9990282349375621), (410, 0.9984603532054126), (411, 0.9486832980505137), (419, 0.8060044294945221), (422, 0.9977851578566088), (427, 1.0), (429, 0.7732677904963985), (441, 0.9977851578566089), (447, 1.0000000000000002), (455, 0.9999694838187878), (466, 0.9298066130712718), (471, 0.9647638212377321), (476, 0.9938837346736191), (487, 0.9298066130712718), (488, 0.9977851578566088), (499, 0.9977851578566088), (511, 1.0), (513, 0.9647638212377321), (516, 0.9647638212377321), (523, 0.9983308056698206), (530, 0.9191450300180579), (533, 0.9977851578566089), (534, 0.9647638212377321), (539, 0.9647638212377321), (541, 0.9843366432473037), (550, 0.9647638212377321), (553, 0.9938837346736191), (554, 0.9486832980505137), (573, 0.9701425001453318), (578, 0.9821022792346162), (586, 0.9879195263882263), (588, 0.9647638212377321), (590, 0.9647638212377321), (592, 0.9879195263882263), (603, 0.9647638212377321), (614, 0.999773730057065), (621, 0.9496012091602397), (632, 0.9986178293325099), (639, 0.9938837346736191), (649, 0.9879195263882263), (662, 0.87214304111361), (666, 0.9922778767136677), (671, 1.0), (9, 1.0), (10, 1.0), (12, 1.0), (16, 1.0), (24, 1.0), (37, 1.0), (39, 1.0), (43, 1.0), (47, 1.0), (67, 1.0), (68, 1.0), (74, 1.0), (93, 1.0), (96, 1.0), (101, 1.0), (104, 1.0), (108, 1.0), (112, 1.0), (117, 1.0), (123, 1.0), (129, 1.0), (139, 1.0), (140, 1.0), (142, 1.0), (145, 1.0), (146, 1.0), (161, 1.0), (169, 1.0), (173, 1.0), (189, 1.0), (191, 1.0), (192, 1.0), (198, 1.0), (202, 1.0), (207, 1.0), (224, 1.0), (225, 1.0), (228, 1.0), (229, 1.0), (234, 1.0), (237, 1.0), (238, 1.0), (239, 1.0), (241, 1.0), (244, 1.0), (254, 1.0), (255, 1.0), (259, 1.0), (260, 1.0), (264, 1.0), (275, 1.0), (287, 1.0), (298, 1.0), (305, 1.0), (314, 1.0), (316, 1.0), (317, 1.0), (321, 1.0), (323, 1.0), (326, 1.0), (327, 1.0), (330, 1.0), (331, 1.0), (333, 1.0), (336, 1.0), (340, 1.0), (343, 1.0), (351, 1.0), (354, 1.0), (366, 1.0), (375, 1.0), (383, 1.0), (390, 1.0), (399, 1.0), (403, 1.0), (409, 1.0), (415, 1.0), (416, 1.0), (417, 1.0), (420, 1.0), (435, 1.0), (436, 1.0), (440, 1.0), (445, 1.0), (449, 1.0), (451, 1.0), (470, 1.0), (473, 1.0), (486, 1.0), (489, 1.0), (491, 1.0), (495, 1.0), (497, 1.0), (506, 1.0), (531, 1.0), (532, 1.0), (536, 1.0), (543, 1.0), (546, 1.0), (548, 1.0), (556, 1.0), (568, 1.0), (569, 1.0), (571, 1.0), (575, 1.0), (589, 1.0), (593, 1.0), (597, 1.0), (600, 1.0), (605, 1.0), (609, 1.0), (610, 1.0), (612, 1.0), (620, 1.0), (622, 1.0), (628, 1.0), (631, 1.0), (633, 1.0), (643, 1.0), (644, 1.0), (657, 1.0), (661, 1.0), (669, 1.0), (670, 1.0)])

In [1338]:
pearsonDF=pd.DataFrame.from_dict(pearsonCorDic,orient='index')
pearsonDF.columns=['similarityIndexPC']
pearsonDF['userId']=pearsonDF.index
pearsonDF.index=range(0,len(pearsonDF))
pearsonDF.head()

   similarityIndexPC  userId
0       1.115002e-01      15
1      -4.028859e-17     461
2      -3.856592e-01     547
3       1.782016e-01      17
4      -2.919120e-01      30

In [1339]:
cosineDF=pd.DataFrame.from_dict(cosineSimilarityDic,orient='index')
cosineDF.columns=['similarityIndexCS']
cosineDF['userId']=cosineDF.index
cosineDF.index=range(0,len(cosineDF))
cosineDF.head()

   similarityIndexCS  userId
0           0.922701      15
1           0.958450     461
2           0.941081     547
3           0.982301      17
4           0.954715      30

In [1340]:
topUsersPC=pearsonDF.sort_values(by='similarityIndexPC',ascending=False)[0:50]
topUsersPC.head(10)

     similarityIndexPC  userId
187                1.0      85
129                1.0     147
130                1.0     164
152                1.0     385
169                1.0     577
157                1.0     439
207                1.0     184
272                1.0     666
198                1.0     144
270                1.0     649

In [1341]:
topUsersCS=cosineDF.sort_values(by='similarityIndexCS',ascending=False)[0:50]
topUsersCS.head(10)

     similarityIndexCS  userId
239                1.0     447
397                1.0     670
325                1.0     287
333                1.0     326
332                1.0     323
331                1.0     321
330                1.0     317
329                1.0     316
328                1.0     314
327                1.0     305

In [1342]:
rating.head()

    userId  movieId  rating
2        1     1061     3.0
3        1     1129     2.0
7        1     1293     2.0
10       1     1371     2.5
11       1     1405     1.0

In [1343]:
topUsersRatingPC=topUsersPC.merge(rating,left_on='userId',right_on='userId',how='inner')
topUsersRatingPC.head(300)

     similarityIndexPC  userId  movieId  rating
0                  1.0      85       10     5.0
1                  1.0      85       19     3.0
2                  1.0      85       21     4.0
3                  1.0      85       23     3.0
4                  1.0      85       44     2.0
..                 ...     ...      ...     ...
295                1.0     439      327     3.0
296                1.0     439      480     3.0
297                1.0     439      527     3.0
298                1.0     439      541     3.0
299                1.0     439      588     3.0

[300 rows x 4 columns]

In [1344]:
topUsersRatingCS=topUsersCS.merge(rating,left_on='userId',right_on='userId',how='inner')
topUsersRatingCS.head()

   similarityIndexCS  userId  movieId  rating
0                1.0     447        1     3.0
1                1.0     447       10     3.0
2                1.0     447       17     3.0
3                1.0     447       19     3.0
4                1.0     447       21     3.0

In [1345]:
topUsersRatingPC['weightedRating']=topUsersRatingPC['similarityIndexPC']*topUsersRatingPC['rating']
topUsersRatingPC.head()

   similarityIndexPC  userId  movieId  rating  weightedRating
0                1.0      85       10     5.0             5.0
1                1.0      85       19     3.0             3.0
2                1.0      85       21     4.0             4.0
3                1.0      85       23     3.0             3.0
4                1.0      85       44     2.0             2.0

In [1346]:
topUsersRatingCS['weightedRating']=topUsersRatingCS['similarityIndexCS']*topUsersRatingCS['rating']
topUsersRatingCS.head()

   similarityIndexCS  userId  movieId  rating  weightedRating
0                1.0     447        1     3.0             3.0
1                1.0     447       10     3.0             3.0
2                1.0     447       17     3.0             3.0
3                1.0     447       19     3.0             3.0
4                1.0     447       21     3.0             3.0

In [1347]:
tempTopUsersRatingPC=topUsersRatingPC.groupby('movieId').sum()[['similarityIndexPC','weightedRating']]
tempTopUsersRatingPC.columns=['sum_similarityIndex','sum_weightedRating']
tempTopUsersRatingPC.head()

         sum_similarityIndex  sum_weightedRating
movieId
1                  20.659311           81.457190
10                 12.806099           48.862264
14                  0.953206            3.812825
15                  0.684297            0.684297
16                  8.574659           28.537296

In [1348]:
tempTopUsersRatingCS=topUsersRatingCS.groupby('movieId').sum()[['similarityIndexCS','weightedRating']]
tempTopUsersRatingCS.columns=['sum_similarityIndex','sum_weightedRating']
tempTopUsersRatingCS.head()

         sum_similarityIndex  sum_weightedRating
movieId
1                       19.0                75.5
10                       7.0                25.0
14                       2.0                 5.0
15                       2.0                 4.0
16                       4.0                16.5

In [1349]:
recommendation_df_pc=tempTopUsersRatingPC
recommendation_df_pc['weighted average recommendation score']=recommendation_df_pc['sum_weightedRating']/recommendation_df_pc['sum_similarityIndex']
recommendation_df_pc.head()

,sum_similarityIndex,sum_weightedRating,weighted average recommendation score
movieId,,,
1,20.659311,81.457190,3.942880
10,12.806099,48.862264,3.815546
14,0.953206,3.812825,4.000000
15,0.684297,0.684297,1.000000
16,8.574659,28.537296,3.328097

In [1350]:
recommendation_df_pc.shape

(1146, 3)

In [1351]:
inputUserData.shape

(11, 5)

In [1352]:
inputUserData.head()

  userId movieId  rating                            title  year
0    635     111     3.5                      Taxi Driver  1976
1    635     296     3.5                     Pulp Fiction  1994
2    635     527     2.0                 Schindler's List  1993
3    635    1089     4.0                   Reservoir Dogs  1992
4    635    1193     4.0  One Flew Over the Cuckoo's Nest  1975

In [1353]:
recommendation_df_pc[recommendation_df_pc.index.isin(inputUserData['movieId'].tolist())].shape

(11, 3)

In [1354]:
df_accuracy_pc=recommendation_df_pc[recommendation_df_pc.index.isin(inputUserData['movieId'].tolist())]
df_accuracy_pc.head()

,sum_similarityIndex,sum_weightedRating,weighted average recommendation score
movieId,,,
111,13.955184,61.948700,4.439117
296,31.231512,139.696132,4.472922
527,29.717108,93.539354,3.147660
1089,11.125499,52.481165,4.717197
1193,10.372479,50.541036,4.872609

In [1355]:
recommendation_df_cs=tempTopUsersRatingCS
recommendation_df_cs['weighted average recommendation score']=recommendation_df_cs['sum_weightedRating']/recommendation_df_cs['sum_similarityIndex']
recommendation_df_cs.head()

,sum_similarityIndex,sum_weightedRating,weighted average recommendation score
movieId,,,
1,19.0,75.5,3.973684
10,7.0,25.0,3.571429
14,2.0,5.0,2.500000
15,2.0,4.0,2.000000
16,4.0,16.5,4.125000

In [1356]:
recommendation_df_cs.shape

(717, 3)

In [1357]:
recommendation_df_pc.drop(columns=['sum_similarityIndex','sum_weightedRating'],inplace=True)
recommendation_df_pc.head()

         weighted average recommendation score
movieId
1                                     3.942880
10                                    3.815546
14                                    4.000000
15                                    1.000000
16                                    3.328097

In [1358]:
recommendation_df_cs.drop(columns=['sum_similarityIndex','sum_weightedRating'],inplace=True)
recommendation_df_cs.head()

         weighted average recommendation score
movieId
1                                     3.973684
10                                    3.571429
14                                    2.500000
15                                    2.000000
16                                    4.125000

In [1359]:
recommendation_df_cs.shape

(717, 1)

In [1360]:
df_accuracy_cs=recommendation_df_cs[recommendation_df_cs.index.isin(inputUserData['movieId'].tolist())]
df_accuracy_cs.head()

         weighted average recommendation score
movieId
111                                   4.000000
296                                   3.976190
527                                   4.636364
1193                                  3.750000
1485                                  3.500000

In [1361]:
recommendation_df_pc.sort_values(by='weighted average recommendation score',ascending=False,inplace=True)
recommendation_df_pc.shape

(1146, 1)

In [1362]:
recommendation_df_pc.tail()

         weighted average recommendation score
movieId
80350                                      0.5
7448                                       0.5
1760                                       0.5
85510                                      0.5
89388                                      0.5

In [1363]:
inputUserData.head()

  userId movieId  rating                            title  year
0    635     111     3.5                      Taxi Driver  1976
1    635     296     3.5                     Pulp Fiction  1994
2    635     527     2.0                 Schindler's List  1993
3    635    1089     4.0                   Reservoir Dogs  1992
4    635    1193     4.0  One Flew Over the Cuckoo's Nest  1975

In [1364]:
recommendation_df_pc.head(100)

         weighted average recommendation score
movieId
2361                                       5.0
4247                                       5.0
5617                                       5.0
5152                                       5.0
5015                                       5.0
...                                        ...
34332                                      4.5
33834                                      4.5
4223                                       4.5
2278                                       4.5
1942                                       4.5

[100 rows x 1 columns]

In [1365]:
rating_5_pc = (recommendation_df_pc['weighted average recommendation score']>=5).sum()
rating_5_pc

65

In [1366]:
recommendation_df_cs.sort_values(by='weighted average recommendation score',ascending=False,inplace=True)
recommendation_df_cs.head(10)

         weighted average recommendation score
movieId
2948                                       5.0
1680                                       5.0
441                                        5.0
81229                                      5.0
102194                                     5.0
80906                                      5.0
3409                                       5.0
5218                                       5.0
1663                                       5.0
5108                                       5.0

In [1367]:
rating_5_cs = (recommendation_df_cs['weighted average recommendation score']>=5).sum()
rating_5_cs

84

In [1368]:
recommendation_df_pc1=recommendation_df_pc.head(10)
recommendation_df_pc1

         weighted average recommendation score
movieId
2361                                       5.0
4247                                       5.0
5617                                       5.0
5152                                       5.0
5015                                       5.0
1401                                       5.0
233                                        5.0
4566                                       5.0
42004                                      5.0
4232                                       5.0

In [1369]:
recommendation_df_cs1=recommendation_df_cs.head(10)
recommendation_df_cs1

         weighted average recommendation score
movieId
2948                                       5.0
1680                                       5.0
441                                        5.0
81229                                      5.0
102194                                     5.0
80906                                      5.0
3409                                       5.0
5218                                       5.0
1663                                       5.0
5108                                       5.0

In [1370]:
recommendation_df_pc2=recommendation_df_pc1.merge(movie, left_on='movieId',right_on='movieId',how='inner')
print("Top 10 recommended movies with knn using pearson coefficient as distance metric:\n")
recommendation_df_pc2

Top 10 recommended movies with knn using pearson coefficient as distance metric:

,movieId,weighted average recommendation score,title,year
0,2361,5.0,Pink Flamingos,1972
1,4247,5.0,Joe Dirt,2001
2,5617,5.0,Secretary,2002
3,5152,5.0,We Were Soldiers,2002
4,5015,5.0,Monster's Ball,2001
5,1401,5.0,Ghosts of Mississippi,1996
6,233,5.0,Exotica,1994
7,4566,5.0,American Ninja 2: The Confrontation,1987
8,42004,5.0,Transamerica,2005
9,4232,5.0,Spy Kids,2001

In [1371]:
inputUserData.head()

  userId movieId  rating                            title  year
0    635     111     3.5                      Taxi Driver  1976
1    635     296     3.5                     Pulp Fiction  1994
2    635     527     2.0                 Schindler's List  1993
3    635    1089     4.0                   Reservoir Dogs  1992
4    635    1193     4.0  One Flew Over the Cuckoo's Nest  1975

In [1372]:
df_accuracy_pc.head()

,sum_similarityIndex,sum_weightedRating,weighted average recommendation score
movieId,,,
111,13.955184,61.948700,4.439117
296,31.231512,139.696132,4.472922
527,29.717108,93.539354,3.147660
1089,11.125499,52.481165,4.717197
1193,10.372479,50.541036,4.872609

In [1373]:
df_accuracy_pc=df_accuracy_pc.sort_index()

In [1374]:
df_accuracy_pc.head()

,sum_similarityIndex,sum_weightedRating,weighted average recommendation score
movieId,,,
111,13.955184,61.948700,4.439117
296,31.231512,139.696132,4.472922
527,29.717108,93.539354,3.147660
1089,11.125499,52.481165,4.717197
1193,10.372479,50.541036,4.872609

In [1375]:
inputUserData_accuracy_pc=inputUserData[inputUserData['movieId'].isin(df_accuracy_pc.index.tolist())]

In [1376]:
inputUserData_accuracy_pc=inputUserData_accuracy_pc.sort_values(by='movieId')

In [1377]:
inputUserData_accuracy_pc.head()

  userId movieId  rating                            title  year
0    635     111     3.5                      Taxi Driver  1976
1    635     296     3.5                     Pulp Fiction  1994
2    635     527     2.0                 Schindler's List  1993
3    635    1089     4.0                   Reservoir Dogs  1992
4    635    1193     4.0  One Flew Over the Cuckoo's Nest  1975

In [1378]:
inputUserData_accuracy_pc.index

RangeIndex(start=0, stop=11, step=1)

In [1379]:
inputUserData_accuracy_pc.index = range(len(inputUserData_accuracy_pc))

In [1380]:
inputUserData_accuracy_pc.head()

  userId movieId  rating                            title  year
0    635     111     3.5                      Taxi Driver  1976
1    635     296     3.5                     Pulp Fiction  1994
2    635     527     2.0                 Schindler's List  1993
3    635    1089     4.0                   Reservoir Dogs  1992
4    635    1193     4.0  One Flew Over the Cuckoo's Nest  1975

In [1381]:
df_accuracy_pc.index

Index([111, 296, 527, 1089, 1193, 1485, 2329, 2959, 3994, 8874, 112552], dtype='int64', name='movieId')

In [1382]:
df_accuracy_pc['movieId']=df_accuracy_pc.index
df_accuracy_pc.head()

,sum_similarityIndex,sum_weightedRating,weighted average recommendation score,movieId
movieId,,,,
111,13.955184,61.948700,4.439117,111
296,31.231512,139.696132,4.472922,296
527,29.717108,93.539354,3.147660,527
1089,11.125499,52.481165,4.717197,1089
1193,10.372479,50.541036,4.872609,1193

In [1383]:
df_accuracy_pc.index=range(len(df_accuracy_pc))
df_accuracy_pc.head()

,sum_similarityIndex,sum_weightedRating,weighted average recommendation score,movieId
0,13.955184,61.948700,4.439117,111
1,31.231512,139.696132,4.472922,296
2,29.717108,93.539354,3.147660,527
3,11.125499,52.481165,4.717197,1089
4,10.372479,50.541036,4.872609,1193

In [1384]:
df_accuracy_pc.shape

(11, 4)

In [1385]:
sum_sd=0
sum_ad=0
for i in range(df_accuracy_pc.shape[0]):
    if(inputUserData_accuracy_pc.iloc[i]['movieId']==df_accuracy_pc.iloc[i]['movieId']):
        sum_sd+=(inputUserData_accuracy_pc.iloc[i]['rating']-df_accuracy_pc.iloc[i]['weighted average recommendation score'])**2
        sum_ad+=abs(inputUserData_accuracy_pc.iloc[i]['rating']-df_accuracy_pc.iloc[i]['weighted average recommendation score'])

rmse=sqrt(sum_sd/df_accuracy_pc.shape[0])
print("rmse of movie recommendations with knn using pearson coefficient:", rmse)

mae=sum_ad/df_accuracy_pc.shape[0]
print("mae of movie recommendations with knn using pearson coefficient:", mae)

rmse of movie recommendations with knn using pearson coefficient: 0.8090315364251466
mae of movie recommendations with knn using pearson coefficient: 0.7403652608177776

In [1386]:
recommendation_df_cs2=recommendation_df_cs1.merge(movie, left_on='movieId',right_on='movieId',how='inner')
print("Top 10 recommended movies with knn using cosine similarity as distance metric:\n")
recommendation_df_cs2.head()

Top 10 recommended movies with knn using cosine similarity as distance metric:

   movieId  weighted average recommendation score                  title  year
0     2948                                    5.0  From Russia with Love  1963
1     1680                                    5.0          Sliding Doors  1998
2      441                                    5.0     Dazed and Confused  1993
3    81229                                    5.0                    Red  2010
4   102194                                    5.0                    Mud  2012

In [1387]:
df_accuracy_cs.head()

         weighted average recommendation score
movieId
111                                   4.000000
296                                   3.976190
527                                   4.636364
1193                                  3.750000
1485                                  3.500000

In [1388]:
df_accuracy_cs.index

Index([111, 296, 527, 1193, 1485, 2329, 2959, 3994, 8874, 112552], dtype='int64', name='movieId')

In [1389]:
inputUserData_accuracy_cs=inputUserData[inputUserData['movieId'].isin(df_accuracy_cs.index.tolist())]
inputUserData_accuracy_cs.head()

  userId movieId  rating                            title  year
0    635     111     3.5                      Taxi Driver  1976
1    635     296     3.5                     Pulp Fiction  1994
2    635     527     2.0                 Schindler's List  1993
4    635    1193     4.0  One Flew Over the Cuckoo's Nest  1975
5    635    1485     2.0                        Liar Liar  1997

In [1390]:
df_accuracy_cs['movieId']=df_accuracy_cs.index
df_accuracy_cs.head()

         weighted average recommendation score  movieId
movieId
111                                   4.000000      111
296                                   3.976190      296
527                                   4.636364      527
1193                                  3.750000     1193
1485                                  3.500000     1485

In [1391]:
df_accuracy_cs.index=range(len(df_accuracy_cs))
df_accuracy_cs.head()

   weighted average recommendation score  movieId
0                               4.000000      111
1                               3.976190      296
2                               4.636364      527
3                               3.750000     1193
4                               3.500000     1485

In [1392]:
inputUserData_accuracy_cs.head()

  userId movieId  rating                            title  year
0    635     111     3.5                      Taxi Driver  1976
1    635     296     3.5                     Pulp Fiction  1994
2    635     527     2.0                 Schindler's List  1993
4    635    1193     4.0  One Flew Over the Cuckoo's Nest  1975
5    635    1485     2.0                        Liar Liar  1997

In [1393]:
inputUserData_accuracy_cs=inputUserData_accuracy_cs.sort_values(by='movieId')
inputUserData_accuracy_cs.head()

  userId movieId  rating                            title  year
0    635     111     3.5                      Taxi Driver  1976
1    635     296     3.5                     Pulp Fiction  1994
2    635     527     2.0                 Schindler's List  1993
4    635    1193     4.0  One Flew Over the Cuckoo's Nest  1975
5    635    1485     2.0                        Liar Liar  1997

In [1394]:
inputUserData_accuracy_cs.index=range(len(inputUserData_accuracy_cs))
inputUserData_accuracy_cs.head()

  userId movieId  rating                            title  year
0    635     111     3.5                      Taxi Driver  1976
1    635     296     3.5                     Pulp Fiction  1994
2    635     527     2.0                 Schindler's List  1993
3    635    1193     4.0  One Flew Over the Cuckoo's Nest  1975
4    635    1485     2.0                        Liar Liar  1997

In [1395]:
df_accuracy_cs=df_accuracy_cs.sort_values(by='movieId')
df_accuracy_cs.head()

   weighted average recommendation score  movieId
0                               4.000000      111
1                               3.976190      296
2                               4.636364      527
3                               3.750000     1193
4                               3.500000     1485

In [1396]:
sum_sd=0
sum_ad=0
for i in range(df_accuracy_cs.shape[0]):
    if(inputUserData_accuracy_cs.iloc[i]['movieId']==df_accuracy_cs.iloc[i]['movieId']):
        sum_sd+=(inputUserData_accuracy_cs.iloc[i]['rating']-df_accuracy_cs.iloc[i]['weighted average recommendation score'])**2
        sum_ad+=abs(inputUserData_accuracy_cs.iloc[i]['rating']-df_accuracy_cs.iloc[i]['weighted average recommendation score'])
        
rmse=sqrt(sum_sd/df_accuracy_cs.shape[0])
print("rmse of movie recommendations with knn using cosine similarity between users:", rmse)

mae=sum_ad/df_accuracy_cs.shape[0]
print("mae of movie recommendations with knn using cosine similarity between users:", mae)

rmse of movie recommendations with knn using cosine similarity between users: 1.1641379038909012
mae of movie recommendations with knn using cosine similarity between users: 0.9112554112554113