In [333]:
import numpy as np
import pandas as pd
from math import sqrt

In [334]:
movie_movielens = pd.read_csv('/movie-lens-100k/movies.csv')
movielens_temp=pd.read_csv('/movie-lens-100k/movies.csv')
rating = pd.read_csv('/movie-lens-100k/ratings.csv')
movie_tmdb=pd.read_csv('/tmdb-movie-metadata/tmdb_5000_movies.csv')

In [335]:
movie_movielens.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [336]:
movie_movielens.shape

(9125, 3)

In [337]:
rating.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [338]:
rating.shape

(100004, 4)

In [339]:
movie_tmdb.shape

(4803, 20)

In [340]:
movie_tmdb.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [341]:
movielens_temp['year']=movielens_temp.title.str.extract('(\d\d\d\d)',expand=False)
movie_movielens['year']=movie_movielens.title.str.extract('(\d\d\d\d)',expand=False)
movie_movielens.head()

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995

In [342]:
movielens_temp['title']=movielens_temp.title.str.replace('(\(\d\d\d\d\))','',regex=True)
movielens_temp['title']=movielens_temp['title'].apply(lambda x:x.strip())
movie_movielens['title']=movie_movielens.title.str.replace('(\(\d\d\d\d\))','',regex=True)
movie_movielens['title']=movie_movielens['title'].apply(lambda x:x.strip())
movie_movielens.head()

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

In [343]:
movie_tmdb['original_title'] = movie_tmdb['original_title'].astype(str).str.lower().str.replace(' ', '')
movie_movielens['title'] = movie_movielens['title'].astype(str).str.lower().str.replace(' ', '')

In [344]:
len(movie_movielens['title'].unique())

8889

In [345]:
len(movie_tmdb['original_title'].unique())

4801

In [346]:
duplicate_values = movie_tmdb.duplicated(subset='original_title', keep=False)

# Filter the DataFrame to keep only rows with unique values in the specified column
movie_tmdb = movie_tmdb[~duplicate_values]

In [347]:
movie_tmdb.shape

(4799, 20)

In [348]:
duplicate_values = movie_movielens.duplicated(subset='title', keep=False)

# Filter the DataFrame to keep only rows with unique values in the specified column
movie_movielens = movie_movielens[~duplicate_values]

In [349]:
movie_movielens.shape

(8675, 4)

In [350]:
movie=movie_movielens[movie_movielens['title'].isin(movie_tmdb['original_title'].tolist())]
movie.shape

(2455, 4)

In [351]:
movie=movielens_temp[movielens_temp['movieId'].isin(movie['movieId'].tolist())]
movie.shape

(2455, 4)

In [352]:
movie.head()

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
9,10,GoldenEye,Action|Adventure|Thriller,1995
13,14,Nixon,Drama,1995
14,15,Cutthroat Island,Action|Adventure|Romance,1995
15,16,Casino,Crime|Drama,1995

In [353]:
movie.shape

(2455, 4)

In [354]:
len(movie.index)

2455

In [355]:
movie.drop(columns=['genres'],inplace=True)
movie.head()

/tmp/ipykernel_32/248677599.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie.drop(columns=['genres'],inplace=True)

    movieId             title  year
0         1         Toy Story  1995
9        10         GoldenEye  1995
13       14             Nixon  1995
14       15  Cutthroat Island  1995
15       16            Casino  1995

In [356]:
rating=rating[rating['movieId'].isin(movie['movieId'].tolist())]
rating.shape

(46710, 4)

In [357]:
rating.head()

    userId  movieId  rating   timestamp
2        1     1061     3.0  1260759182
3        1     1129     2.0  1260759185
7        1     1293     2.0  1260759148
10       1     1371     2.5  1260759135
11       1     1405     1.0  1260759203

In [358]:
rating.drop(columns=['timestamp'],inplace=True)

In [359]:
rating.head()

    userId  movieId  rating
2        1     1061     3.0
3        1     1129     2.0
7        1     1293     2.0
10       1     1371     2.5
11       1     1405     1.0

In [360]:
unique_user_ids=rating['userId'].unique()
len(unique_user_ids)

671

In [361]:
from sklearn.model_selection import train_test_split
train_userIds,test_userIds=train_test_split(unique_user_ids,test_size=0.2, random_state=42)
len(train_userIds)

536

In [362]:
len(test_userIds)

135

In [363]:
rating.head()

    userId  movieId  rating
2        1     1061     3.0
3        1     1129     2.0
7        1     1293     2.0
10       1     1371     2.5
11       1     1405     1.0

In [364]:
train_rating = pd.DataFrame(columns=rating.columns)
test_rating = pd.DataFrame(columns=rating.columns)

for userId in train_userIds:
    train_rating=pd.concat([train_rating,rating[rating['userId']==userId]],ignore_index=True)

for userId in test_userIds:
    test_rating=pd.concat([test_rating,rating[rating['userId']==userId]],ignore_index=True)

In [365]:
train_rating

      userId movieId  rating
0        480       1     5.0
1        480      34     3.5
2        480     110     4.0
3        480     150     4.5
4        480     158     4.5
...      ...     ...     ...
35478    103    5816     4.0
35479    103    6502     4.0
35480    103    6874     5.0
35481    103    7438     5.0
35482    103    8636     3.5

[35483 rows x 3 columns]

In [366]:
test_rating

      userId movieId  rating
0        362      70     3.5
1        362     235     3.0
2        362     296     4.5
3        362     356     4.0
4        362     541     4.5
...      ...     ...     ...
11222    236    5009     3.5
11223    236    5378     2.5
11224    236    5440     4.5
11225    236    5989     4.5
11226    236    6711     4.5

[11227 rows x 3 columns]

In [367]:
#Create user profile from user ID (get it from data set)
import random
inputUserID = random.choice(test_userIds)
print(inputUserID)
inputUser = test_rating[test_rating['userId']==inputUserID]
inputUser.shape

211

(25, 3)

In [368]:
inputUser.head()

     userId movieId  rating
8378    211      17     4.0
8379    211      43     5.0
8380    211      62     5.0
8381    211     110     5.0
8382    211     527     5.0

In [369]:
movie.head()

    movieId             title  year
0         1         Toy Story  1995
9        10         GoldenEye  1995
13       14             Nixon  1995
14       15  Cutthroat Island  1995
15       16            Casino  1995

In [370]:
inputUserData = pd.merge(inputUser,movie)
inputUserData.head()

  userId movieId  rating                  title  year
0    211      17     4.0  Sense and Sensibility  1995
1    211      43     5.0            Restoration  1995
2    211      62     5.0     Mr. Holland's Opus  1995
3    211     110     5.0             Braveheart  1995
4    211     527     5.0       Schindler's List  1993

In [371]:
train_rating.head()

  userId movieId  rating
0    480       1     5.0
1    480      34     3.5
2    480     110     4.0
3    480     150     4.5
4    480     158     4.5

In [372]:
users=train_rating[train_rating['movieId'].isin(inputUserData['movieId'].tolist())]
users

      userId movieId  rating
2        480     110     4.0
20       480     588     3.5
23       480     648     3.5
27       480     778     4.0
28       480     832     5.0
...      ...     ...     ...
35397    271    1270     4.0
35405    271    1584     2.5
35429    436    1225     5.0
35443    103     778     4.5
35453    103    1584     3.5

[1927 rows x 3 columns]

In [373]:
users.shape

(1927, 3)

In [374]:
#this step is not required as train and test data are different
users=users.drop(users[users['userId']==inputUserID].index)
users.shape

(1927, 3)

In [375]:
userSubsetGroup=users.groupby(['userId'])

In [376]:
userSubsetGroup.head()

      userId movieId  rating
2        480     110     4.0
20       480     588     3.5
23       480     648     3.5
27       480     778     4.0
28       480     832     5.0
...      ...     ...     ...
35395    271    1225     3.5
35397    271    1270     4.0
35429    436    1225     5.0
35443    103     778     4.5
35453    103    1584     3.5

[1407 rows x 3 columns]

In [377]:
userSubsetGroup=sorted(userSubsetGroup,key=lambda x:len(x[1]),reverse=True)

In [378]:
userSubsetGroup[0:1]

[((452,),
       userId movieId  rating
  5512    452      17     4.0
  5519    452      43     4.0
  5522    452      62     3.0
  5526    452     110     4.0
  5556    452     527     4.0
  5558    452     562     4.0
  5564    452     647     4.0
  5565    452     648     3.0
  5571    452     778     4.0
  5575    452     832     3.0
  5584    452    1042     3.0
  5601    452    1207     5.0
  5605    452    1225     4.0
  5613    452    1270     4.0
  5618    452    1293     4.0
  5621    452    1357     3.0
  5625    452    1393     5.0
  5626    452    1399     4.0
  5628    452    1407     3.0
  5641    452    1584     3.0
  5647    452    1617     5.0)]

In [379]:
inputUserData.head()

  userId movieId  rating                  title  year
0    211      17     4.0  Sense and Sensibility  1995
1    211      43     5.0            Restoration  1995
2    211      62     5.0     Mr. Holland's Opus  1995
3    211     110     5.0             Braveheart  1995
4    211     527     5.0       Schindler's List  1993

In [380]:
from scipy.spatial.distance import cosine


pearsonCorDic = {}
cosineSimilarityDic = {}

for name, group in userSubsetGroup:
    group=group.sort_values(by='movieId') #here they are already sorted
    inputUserData=inputUserData.sort_values(by='movieId') #here they are already in sorted order
    
    n=len(group)
    
    #Get the ratings for the movies that are common 
    temp=inputUserData[inputUserData['movieId'].isin(group['movieId'].tolist())]
    
    tempRatingList=temp['rating'].tolist()
    tempGroupList=group['rating'].tolist()
        
    x_mean=sum(tempRatingList)/float(n)
    y_mean=sum(tempGroupList)/float(n)
    
    Sxx= sqrt(sum(pow((i-x_mean),2) for i in tempRatingList))
    Syy= sqrt(sum(pow((i-y_mean),2) for i in tempGroupList))
    
    Sxy= sum((tempRatingList[i]-x_mean)*(tempGroupList[i]-y_mean) for i in range(0,n))
    
    #if denominator is not 0, then divide else 0 correlation
    
    if Sxx!=0 and Syy!=0:
        pearsonCorDic[name[0]]=Sxy/(Sxx*Syy)
    else:
        pearsonCorDic[name[0]]=0
        
    #Calculating cosine similarity
    vector_a = np.array(tempRatingList)
    vector_b = np.array(tempGroupList)
    
    norm_a = np.linalg.norm(vector_a)
    norm_b = np.linalg.norm(vector_b)
    
    vector_a_normalized = vector_a / norm_a
    vector_b_normalized = vector_b / norm_b
    
    cosine_similarity = np.dot(vector_a_normalized,vector_b_normalized)
    
    cosineSimilarityDic[name[0]]=cosine_similarity

In [381]:
pearsonCorDic.items()

dict_items([(452, -0.011646819280339508), (15, 0.24993978933263009), (461, 0.1430013338026116), (564, -0.24453502975214686), (468, 0.1870098328848738), (654, -0.015094447095057488), (306, 0.06482593132545562), (547, 0.4581474385963549), (30, 0.16174915980515764), (232, 0.4225771273642583), (434, 0.0), (463, 0.6900655593423543), (509, 0.2465568363607689), (537, 0.11704114719613061), (23, 0.12375299717919483), (220, 0.7136980734217044), (358, 0.43736359965454874), (388, 0.045899254602157824), (607, -0.34595100005152857), (88, 0.5730416850911957), (268, 0.5552651042826199), (514, -0.08596023825918789), (575, 0.4825174911355036), (130, 0.4536675573996835), (292, 0.6758217649528188), (294, 0.24467726152216668), (518, 0.6431752271721976), (529, 0.13307728267479998), (150, 0.08597949242859933), (242, 0.4239113759983974), (295, 0.026334032657486142), (380, 0.65), (390, -0.01632557871120843), (530, 0.24480416257528062), (561, 0.4280161585481556), (105, 0.10174461594455995), (235, -0.5735393346764044), (243, 0.7453559924999298), (345, 0.6204895470677797), (472, 0.11664236870396089), (480, 0.17715299831526513), (559, 0.0890870806374748), (562, 0.6101936608636912), (603, -0.035333262666878695), (195, 0.5198752449100364), (214, 0.7254762501100118), (240, 0.43301270189221935), (245, 0.43750000000000017), (313, 0.8430773109429056), (391, -0.15811388300841897), (430, -0.598057913020748), (431, 0.32780503405359307), (502, -0.3162277660168379), (550, 0.2886751345948129), (627, 0.8400268812903089), (48, 0.7715167498104596), (86, 0.0), (93, 0.26919095102908275), (99, 0.04637388957601683), (185, 0.0), (247, 0.3148336618027138), (253, 0.9192198015394656), (262, -0.022959706631926795), (343, 0.07881104062391006), (382, -0.5259547057403531), (505, -0.14907119849998599), (534, 0.3768673314407159), (585, 0.5163977794943222), (587, 0.12909944487358055), (598, 0.0), (616, -0.09759000729485333), (34, 0.38188130791298663), (128, 0.6614378277661477), (328, 0.7817359599705719), (383, -0.19364916731037077), (407, 0.30678599553894825), (423, 0.09128709291752765), (510, 0.25819888974716115), (522, 0.36424639819288696), (523, 0.7592514510736523), (548, 0.0912870929175277), (605, -0.3000000000000001), (640, 0.25819888974716126), (664, 0.4183300132670377), (665, -0.058925565098878974), (8, 0.6868028197434451), (20, -0.3429971702850177), (67, 0.3429971702850177), (90, 0.0), (92, -0.18569533817705192), (118, 0.5423261445466404), (199, -0.35355339059327373), (215, 0.4685212856658182), (261, 0.7977240352174657), (271, -0.09449111825230685), (284, -0.09712858623572639), (338, 0.24253562503633302), (344, -0.33333333333333337), (346, 0.021452116007007214), (373, 0.18569533817705192), (384, -0.10846522890932807), (408, 0.0), (433, 0.14907119849998599), (439, -0.22086305214969312), (442, 0.4472135954999579), (460, 0.09712858623572644), (466, 0.4856429311786319), (507, 0.670820393249937), (527, -0.2), (544, -0.48890120703870465), (569, -0.34299717028501764), (577, -0.10660035817780521), (595, 0.39999999999999997), (608, -0.29411764705882354), (617, 0.4338609156373125), (623, 0.6546536707079772), (2, -0.2182178902359923), (68, -0.21004201260420147), (75, -0.30012252399939054), (89, 0.7637626158259732), (94, 0.8660254037844385), (97, 0.22742941307367107), (148, 0.6621221919717308), (157, 0.4900980294098034), (160, -0.408248290463863), (173, -0.4082482904638631), (175, 1.0000000000000002), (188, 0.4564354645876384), (201, 0.16666666666666663), (219, -0.74535599249993), (223, -0.2182178902359924), (248, 0.16666666666666663), (252, 0.2500000000000001), (263, 0), (281, 0.2010075630518424), (283, 0.8067842963896242), (318, 1.0), (324, -0.375), (342, 0.6454972243679028), (381, -0.372677996249965), (402, 0.36115755925730764), (412, -0.7071067811865475), (413, 0.4082482904638632), (420, 0.21821789023599242), (487, 0.408248290463863), (493, 0), (497, 0.5590169943749475), (520, 0.7717436331412897), (533, -0.40824829046386296), (560, 0.31008683647302115), (574, 0.3001225239993905), (584, 0.6666666666666667), (594, 0.49009802940980357), (597, -0.13363062095621223), (615, 0.6805446536716203), (636, 0.5345224838248488), (646, 0.7844645405527361), (647, 0.4900980294098034), (4, 0), (9, 0.33333333333333337), (17, -1.0000000000000002), (18, 0.5773502691896258), (21, 0.9045340337332909), (22, 0.06666666666666667), (38, 0.5773502691896258), (41, 0), (72, 0.30151134457776363), (74, 1.0000000000000002), (85, -0.19245008972987526), (120, 0.8164965809277259), (125, 0.48420012470625223), (154, -0.32444284226152503), (161, 0.17407765595569785), (162, 0.5222329678670935), (163, 0.9113223768657671), (187, 0.42640143271122083), (224, -0.5773502691896258), (233, -0.33333333333333337), (239, -0.2886751345948129), (256, 0.4082482904638631), (275, -0.30151134457776363), (304, -0.6581451817144176), (330, 0.9534625892455924), (370, 0), (379, -0.47140452079103173), (405, 0.0), (410, -0.5773502691896257), (417, 0.42915087305247873), (425, 0.6115928396627265), (447, 1.0), (458, 0.22941573387056174), (484, 0.0), (486, -0.6831300510639733), (496, 0.5773502691896258), (516, 0.9045340337332909), (539, 0.0), (545, -0.0880450906325624), (570, -0.9505863757867169), (586, -0.5570860145311556), (588, 0.5773502691896258), (592, -0.33333333333333337), (670, 0.7745966692414834), (28, -0.5000000000000001), (33, 0), (36, 0.5000000000000001), (39, 0.8660254037844385), (43, 1.0), (44, 0.9449111825230682), (69, -0.5), (95, 1.0), (100, 0.5), (122, 0), (124, 0), (138, -0.5000000000000001), (139, 0.1889822365046136), (143, -0.5000000000000001), (151, 0.8660254037844385), (152, -0.8660254037844387), (164, 0), (168, 0.5), (172, 0.5000000000000001), (176, 0.7559289460184546), (178, -0.8660254037844385), (180, 0), (192, 1.0000000000000002), (216, -0.8660254037844385), (217, 0.5960395606792697), (237, -0.9819805060619656), (244, -0.5000000000000001), (266, 0.8660254037844385), (288, 1.0), (308, -0.9449111825230683), (309, 0), (348, -0.5000000000000001), (354, 1.0000000000000002), (369, 1.0000000000000002), (371, 0.5000000000000001), (378, -0.7559289460184545), (385, 0.5000000000000001), (387, 0), (389, 0.5000000000000001), (400, 0.5000000000000001), (418, -0.5000000000000001), (419, 1.0000000000000002), (428, 0.5000000000000001), (450, 0), (475, -0.1889822365046136), (506, -0.9449111825230683), (531, 0.7777137710478189), (543, -1.0), (582, -0.9449111825230683), (590, 0.8660254037844385), (621, 0.1889822365046136), (631, -0.8660254037844385), (633, 0.5000000000000001), (649, 1.0), (666, -0.5000000000000001), (5, 0), (13, 0), (24, 0), (26, 0), (27, 0), (47, 0.9999999999999998), (49, 1.0), (96, -0.9999999999999998), (101, 0), (103, -0.9999999999999998), (108, -0.9999999999999998), (112, 1.0), (115, 0), (144, 0.9999999999999998), (145, 0), (146, 0), (147, -0.9999999999999998), (153, 0), (155, 0), (169, 1.0), (184, 0), (191, 0.9999999999999998), (194, 0), (218, 0), (225, -0.9999999999999998), (229, 0), (234, 0), (250, 0.9999999999999998), (254, 0), (264, 0), (269, -0.9999999999999998), (273, 0), (278, 0.9999999999999998), (280, 0), (287, 0), (291, 0.9999999999999998), (298, 0), (299, -0.9999999999999998), (321, 0), (323, 0.9999999999999998), (329, -0.9999999999999998), (333, 1.0), (336, 0), (350, -0.9999999999999998), (375, 0.9999999999999998), (376, 0), (386, 0.9999999999999998), (398, -0.9999999999999998), (401, 0.9999999999999998), (411, 0), (415, 0.9999999999999998), (416, 0.9999999999999998), (422, 0), (435, 0.9999999999999998), (440, 0.9999999999999998), (441, 0), (449, -0.9999999999999998), (459, 0.9999999999999998), (467, 0), (471, 0.9999999999999998), (488, 0), (490, -1.0), (491, 0.9999999999999998), (492, -0.9999999999999998), (495, 0), (503, 0.9999999999999998), (513, 0), (519, -1.0), (521, 0), (525, 0.9999999999999998), (532, 0), (536, 0), (553, 0), (554, 0), (563, -1.0), (573, 0.9999999999999998), (576, 0.9999999999999998), (578, 0), (589, -0.9999999999999998), (606, -0.9999999999999998), (614, 0), (639, 0.9999999999999998), (648, 0), (650, 0.9999999999999998), (653, 0), (655, 0), (656, 0), (662, 0.9999999999999998), (671, 0), (1, 0), (16, 0), (29, 0), (46, 0), (58, 0), (59, 0), (62, 0), (63, 0), (65, 0), (80, 0), (84, 0), (104, 0), (107, 0), (113, 0), (114, 0), (117, 0), (126, 0), (127, 0), (129, 0), (135, 0), (141, 0), (142, 0), (167, 0), (170, 0), (171, 0), (179, 0), (189, 0), (190, 0), (197, 0), (198, 0), (202, 0), (203, 0), (204, 0), (206, 0), (207, 0), (210, 0), (228, 0), (230, 0), (231, 0), (238, 0), (241, 0), (255, 0), (274, 0), (277, 0), (286, 0), (296, 0), (297, 0), (302, 0), (305, 0), (314, 0), (315, 0), (317, 0), (322, 0), (326, 0), (331, 0), (334, 0), (351, 0), (357, 0), (359, 0), (360, 0), (367, 0), (393, 0), (395, 0), (399, 0), (404, 0), (406, 0), (409, 0), (426, 0), (427, 0), (436, 0), (448, 0), (451, 0), (455, 0), (456, 0), (462, 0), (473, 0), (494, 0), (498, 0), (501, 0), (528, 0), (542, 0), (546, 0), (551, 0), (568, 0), (591, 0), (593, 0), (599, 0), (600, 0), (601, 0), (613, 0), (628, 0), (632, 0), (634, 0), (644, 0), (651, 0), (657, 0), (660, 0), (661, 0)])

In [382]:
cosineSimilarityDic.items()

dict_items([(452, 0.9765541233493944), (15, 0.9201364385622632), (461, 0.9505489607158907), (564, 0.922167935241408), (468, 0.9758099746172745), (654, 0.9789342045426335), (306, 0.9796813699030887), (547, 0.9454468591763023), (30, 0.9785458152627837), (232, 0.9815012929624984), (434, 0.9704833011638263), (463, 0.9931649513162263), (509, 0.9817899930319185), (537, 0.978814083832364), (23, 0.9794878857725813), (220, 0.9834348916153584), (358, 0.9595548606619673), (388, 0.9828928673234509), (607, 0.9595707657999286), (88, 0.9808096868078933), (268, 0.976390566116261), (514, 0.9706310753343613), (575, 0.9635229165047284), (130, 0.9772805312337971), (292, 0.9940847035120346), (294, 0.9745789908959868), (518, 0.9766403861729748), (529, 0.9742920781487212), (150, 0.9658090810986822), (242, 0.9819972833864063), (295, 0.9827887193797633), (380, 0.9733899723530708), (390, 0.94571449555971), (530, 0.9795217329676619), (561, 0.9810008628456116), (105, 0.967913912761729), (235, 0.9602691883549754), (243, 0.988866858506891), (345, 0.9889829208760151), (472, 0.9805067437745071), (480, 0.9874960239459509), (559, 0.9901246624840142), (562, 0.9815837250884547), (603, 0.9522421039016696), (195, 0.9832372299351122), (214, 0.9944903161976939), (240, 0.98354655935683), (245, 0.9693454914622452), (313, 0.9959715457176631), (391, 0.9873471343672662), (430, 0.9389256434233834), (431, 0.9862692976685622), (502, 0.9300699956272237), (550, 0.96330610728405), (627, 0.990321439314761), (48, 0.9943093023053685), (86, 0.972044762662423), (93, 0.9929159920976984), (99, 0.9770676242460434), (185, 0.9868859990394252), (247, 0.9743949194241516), (253, 0.9924036911206083), (262, 0.9267477945563901), (343, 0.9448617525719882), (382, 0.964882567265529), (505, 0.9838588609657581), (534, 0.9769203362764636), (585, 0.9779096985114253), (587, 0.9893243404838054), (598, 0.9704448079403443), (616, 0.9769592561663567), (34, 0.9863839092231123), (128, 0.9717007084400588), (328, 0.9950974065603893), (383, 0.9774225737099987), (407, 0.9759164506373478), (423, 0.9459252173516473), (510, 0.9366346029231662), (522, 0.9720980018718112), (523, 0.986477118191827), (548, 0.9659480631662194), (605, 0.9834182528144384), (640, 0.9853690986995108), (664, 0.9924865189078173), (665, 0.980173019542544), (8, 0.9937806642444202), (20, 0.964995819274328), (67, 0.9854080226124462), (90, 0.9765513243209474), (92, 0.9672800218706455), (118, 0.9873515259378667), (199, 0.983831999346555), (215, 0.9754339913451199), (261, 0.9938490725732483), (271, 0.9792596356942507), (284, 0.9245637917053757), (338, 0.9830148699846394), (344, 0.983739837398374), (346, 0.8926052389122453), (373, 0.9723873699855715), (384, 0.9732853136538876), (408, 0.9742133876117332), (433, 0.9875429332071877), (439, 0.9538343902095296), (442, 0.9950821225752954), (460, 0.9840271173008468), (466, 0.9471141280884336), (507, 0.9822657167871381), (527, 0.9800044308811138), (544, 0.9559993971728872), (569, 0.9760658872514796), (577, 0.984685070759854), (595, 0.9876495126988717), (608, 0.9627444424437364), (617, 0.9809602662996829), (623, 0.9963655559260804), (2, 0.9711732956035486), (68, 0.9756291146943106), (75, 0.9312957383597983), (89, 0.9974457174120673), (94, 0.9953665071779474), (97, 0.8656574303649014), (148, 0.9822667015505928), (157, 0.9750796439906076), (160, 0.9543039586669995), (173, 0.9850987912517036), (175, 0.9994810137181798), (188, 0.9809602662996831), (201, 0.9897959183673469), (219, 0.9382128891367442), (223, 0.974213387611733), (248, 0.9906542056074766), (252, 0.9679028315803946), (263, 0.9943767126843688), (281, 0.9803232400967529), (283, 0.9897594780811199), (318, 0.9927337820337083), (324, 0.9874256106092202), (342, 0.9928511279172316), (381, 0.9476696870669002), (402, 0.9875193657283782), (412, 0.9398272507881658), (413, 0.9931270663228416), (420, 0.9830127464951836), (487, 0.9941772773664708), (493, 0.995495472593952), (497, 0.9826595893986433), (520, 0.9958803996957905), (533, 0.9613189583260923), (560, 0.986366389212215), (574, 0.9728809204266682), (584, 0.991235257124804), (594, 0.9720136957330244), (597, 0.977838140019881), (615, 0.9783644360344308), (636, 0.9889499370655616), (646, 0.9765728755606456), (647, 0.9720136957330244), (4, 0.9938837346736189), (9, 0.9938089250137581), (17, 0.9886238823985037), (18, 0.9931270663228415), (21, 0.9946196723788076), (22, 0.9347183287213849), (38, 0.9958593808214353), (41, 0.9938837346736189), (72, 0.9912302968691747), (74, 1.0000000000000002), (85, 0.9321753227614784), (120, 0.990337937660287), (125, 0.9687405605467695), (154, 0.9298547766256364), (161, 0.975197407578275), (162, 0.9865765724632494), (163, 0.9865216329352957), (187, 0.987218593303523), (224, 0.9839914013827437), (233, 0.9576105229127634), (239, 0.9268715709799868), (256, 0.9371974928126208), (275, 0.9869419619190055), (304, 0.8538099161307281), (330, 0.9534073144497983), (370, 0.9938837346736189), (379, 0.9779251277956797), (405, 0.9135232951410428), (410, 0.8592975914669583), (417, 0.9059123454094565), (425, 0.9317945392429676), (447, 0.9909924304103233), (458, 0.9877295966495895), (484, 0.9878048780487804), (486, 0.9642335727361083), (496, 0.9955677708107759), (516, 0.9920102481167963), (539, 0.9838946998982181), (545, 0.909285469809144), (570, 0.9061300037982676), (586, 0.8946750577612211), (588, 0.9788487096482739), (592, 0.9594482776388078), (670, 0.970043783024736), (28, 0.9848484848484846), (33, 0.9918365981341757), (36, 0.9829047232134225), (39, 0.9927809602765956), (43, 0.9935591240195245), (44, 0.9669038458354651), (69, 0.9913080679277559), (95, 0.9996303825414301), (100, 0.9761063725117611), (122, 0.9941348467724342), (124, 0.9949366763261819), (138, 0.989977163948508), (139, 0.986788528770052), (143, 0.9801019455042927), (151, 0.9922426389474774), (152, 0.7988894471393801), (164, 0.9918365981341755), (168, 0.9761063725117611), (172, 0.9929145645409454), (176, 0.9838197164968291), (178, 0.9809573962758735), (180, 0.9941348467724342), (192, 0.9999999999999998), (216, 0.9816067117150673), (217, 0.9772545497599153), (237, 0.8993814382825446), (244, 0.975075785835227), (266, 0.9922426389474774), (288, 0.9935591240195245), (308, 0.9082682792306083), (309, 0.9959100033104785), (348, 0.7392284758051435), (354, 0.9715365547505717), (369, 0.9999999999999998), (371, 0.9883693657685838), (378, 0.9698277577964032), (385, 0.99217077766376), (387, 1.0), (389, 0.9945358423571875), (400, 0.9945358423571875), (418, 0.8318908431814864), (419, 0.9999281892929309), (428, 0.9945358423571875), (450, 0.9941348467724342), (475, 0.9801589862111941), (506, 0.8411263520135841), (531, 0.9544318576724955), (543, 0.9484168381883901), (582, 0.9649290068792127), (590, 0.9922426389474774), (621, 0.986788528770052), (631, 0.9574271077563379), (633, 0.99217077766376), (649, 0.9994838709333602), (666, 0.9709981800007341), (5, 1.0), (13, 0.9999999999999998), (24, 0.9899494936611665), (26, 0.961523947640823), (27, 0.9938837346736189), (47, 1.0), (49, 0.9872411207126471), (96, 0.9843366432473037), (101, 0.9938837346736191), (103, 0.972511496915214), (108, 0.9374252720097653), (112, 0.9570244044334737), (115, 0.9938837346736189), (144, 0.999512076087079), (145, 0.9938837346736189), (146, 0.9986178293325096), (147, 0.9867058655781975), (153, 0.9938837346736191), (155, 0.9938837346736189), (169, 0.9979517409161514), (184, 0.9938837346736189), (191, 0.9962405881956831), (194, 0.9938837346736189), (218, 1.0), (225, 0.9756097560975611), (229, 0.9922778767136676), (234, 0.9982743731749958), (250, 0.9983141698791175), (254, 0.9938837346736189), (264, 0.9938837346736189), (269, 0.7657048647896112), (273, 0.9999999999999998), (278, 0.999512076087079), (280, 0.9999999999999998), (287, 0.9999999999999998), (291, 0.9983141698791175), (298, 0.9999999999999998), (299, 0.9021342216356466), (321, 0.9899494936611665), (323, 0.9986534247384324), (329, 0.9682773237093576), (333, 0.9979517409161514), (336, 0.9999999999999998), (350, 0.9079593845004517), (375, 0.9383431168171101), (376, 0.9999999999999998), (386, 0.9909924304103233), (398, 0.9682773237093576), (401, 1.0), (411, 0.9938837346736189), (415, 0.9909924304103233), (416, 0.9909924304103233), (422, 0.9938837346736191), (435, 0.999512076087079), (440, 0.9909924304103233), (441, 0.9938837346736191), (449, 0.9756097560975611), (459, 1.0), (467, 0.9938837346736189), (471, 0.9990282349375621), (488, 0.9938837346736191), (490, 0.7954317200324987), (491, 0.9984603532054126), (492, 0.9682773237093576), (495, 0.9999999999999998), (503, 0.999512076087079), (513, 0.9999999999999998), (519, 0.8700221858486125), (521, 1.0), (525, 1.0), (532, 0.9922778767136676), (536, 0.9938837346736189), (553, 0.9191450300180579), (554, 0.9938837346736189), (563, 0.9529257800132619), (573, 0.9909924304103233), (576, 1.0), (578, 0.9938837346736191), (589, 0.9682773237093576), (606, 0.9867058655781975), (614, 0.9899494936611665), (639, 0.999512076087079), (648, 0.9191450300180579), (650, 1.0), (653, 0.9938837346736189), (655, 0.9986178293325096), (656, 0.9938837346736189), (662, 1.0), (671, 0.9938837346736189), (1, 1.0), (16, 1.0), (29, 1.0), (46, 1.0), (58, 1.0), (59, 1.0), (62, 1.0), (63, 1.0), (65, 1.0), (80, 1.0), (84, 1.0), (104, 1.0), (107, 1.0), (113, 1.0), (114, 1.0), (117, 1.0), (126, 1.0), (127, 1.0), (129, 1.0), (135, 1.0), (141, 1.0), (142, 1.0), (167, 1.0), (170, 1.0), (171, 1.0), (179, 1.0), (189, 1.0), (190, 1.0), (197, 1.0), (198, 1.0), (202, 1.0), (203, 1.0), (204, 1.0), (206, 1.0), (207, 1.0), (210, 1.0), (228, 1.0), (230, 1.0), (231, 1.0), (238, 1.0), (241, 1.0), (255, 1.0), (274, 1.0), (277, 1.0), (286, 1.0), (296, 1.0), (297, 1.0), (302, 1.0), (305, 1.0), (314, 1.0), (315, 1.0), (317, 1.0), (322, 1.0), (326, 1.0), (331, 1.0), (334, 1.0), (351, 1.0), (357, 1.0), (359, 1.0), (360, 1.0), (367, 1.0), (393, 1.0), (395, 1.0), (399, 1.0), (404, 1.0), (406, 1.0), (409, 1.0), (426, 1.0), (427, 1.0), (436, 1.0), (448, 1.0), (451, 1.0), (455, 1.0), (456, 1.0), (462, 1.0), (473, 1.0), (494, 1.0), (498, 1.0), (501, 1.0), (528, 1.0), (542, 1.0), (546, 1.0), (551, 1.0), (568, 1.0), (591, 1.0), (593, 1.0), (599, 1.0), (600, 1.0), (601, 1.0), (613, 1.0), (628, 1.0), (632, 1.0), (634, 1.0), (644, 1.0), (651, 1.0), (657, 1.0), (660, 1.0), (661, 1.0)])

In [383]:
pearsonDF=pd.DataFrame.from_dict(pearsonCorDic,orient='index')
pearsonDF.columns=['similarityIndexPC']
pearsonDF['userId']=pearsonDF.index
pearsonDF.index=range(0,len(pearsonDF))
pearsonDF.head()

   similarityIndexPC  userId
0          -0.011647     452
1           0.249940      15
2           0.143001     461
3          -0.244535     564
4           0.187010     468

In [384]:
cosineDF=pd.DataFrame.from_dict(cosineSimilarityDic,orient='index')
cosineDF.columns=['similarityIndexCS']
cosineDF['userId']=cosineDF.index
cosineDF.index=range(0,len(cosineDF))
cosineDF.head()

   similarityIndexCS  userId
0           0.976554     452
1           0.920136      15
2           0.950549     461
3           0.922168     564
4           0.975810     468

In [385]:
topUsersPC=pearsonDF.sort_values(by='similarityIndexPC',ascending=False)[0:50]
topUsersPC.head(10)

     similarityIndexPC  userId
126                1.0     175
235                1.0     369
167                1.0      74
234                1.0     354
224                1.0     192
243                1.0     419
255                1.0     649
263                1.0      49
230                1.0     288
268                1.0     112

In [386]:
topUsersCS=cosineDF.sort_values(by='similarityIndexCS',ascending=False)[0:50]
topUsersCS.head(10)

     similarityIndexCS  userId
167                1.0      74
443                1.0     661
354                1.0      65
387                1.0     255
388                1.0     274
352                1.0      62
389                1.0     277
351                1.0      59
350                1.0      58
390                1.0     286

In [387]:
rating.head()

    userId  movieId  rating
2        1     1061     3.0
3        1     1129     2.0
7        1     1293     2.0
10       1     1371     2.5
11       1     1405     1.0

In [388]:
topUsersRatingPC=topUsersPC.merge(rating,left_on='userId',right_on='userId',how='inner')
topUsersRatingPC.head(300)

     similarityIndexPC  userId  movieId  rating
0                  1.0     175        1     4.0
1                  1.0     175       48     3.0
2                  1.0     175       95     4.0
3                  1.0     175      296     5.0
4                  1.0     175      480     4.0
..                 ...     ...      ...     ...
295                1.0     288      208     4.0
296                1.0     288      224     5.0
297                1.0     288      292     3.0
298                1.0     288      296     5.0
299                1.0     288      337     4.0

[300 rows x 4 columns]

In [389]:
topUsersRatingCS=topUsersCS.merge(rating,left_on='userId',right_on='userId',how='inner')
topUsersRatingCS.head()

   similarityIndexCS  userId  movieId  rating
0                1.0      74       10     5.0
1                1.0      74       16     3.0
2                1.0      74       17     4.0
3                1.0      74      104     4.0
4                1.0      74      110     5.0

In [390]:
topUsersRatingPC['weightedRating']=topUsersRatingPC['similarityIndexPC']*topUsersRatingPC['rating']
topUsersRatingPC.head()

   similarityIndexPC  userId  movieId  rating  weightedRating
0                1.0     175        1     4.0             4.0
1                1.0     175       48     3.0             3.0
2                1.0     175       95     4.0             4.0
3                1.0     175      296     5.0             5.0
4                1.0     175      480     4.0             4.0

In [391]:
topUsersRatingCS['weightedRating']=topUsersRatingCS['similarityIndexCS']*topUsersRatingCS['rating']
topUsersRatingCS.head()

   similarityIndexCS  userId  movieId  rating  weightedRating
0                1.0      74       10     5.0             5.0
1                1.0      74       16     3.0             3.0
2                1.0      74       17     4.0             4.0
3                1.0      74      104     4.0             4.0
4                1.0      74      110     5.0             5.0

In [392]:
tempTopUsersRatingPC=topUsersRatingPC.groupby('movieId').sum()[['similarityIndexPC','weightedRating']]
tempTopUsersRatingPC.columns=['sum_similarityIndex','sum_weightedRating']
tempTopUsersRatingPC.head()

         sum_similarityIndex  sum_weightedRating
movieId
1                  21.641479           86.114203
10                 19.460339           75.168871
14                  1.866025            7.464102
15                  1.000000            2.000000
16                  6.604733           24.060043

In [393]:
tempTopUsersRatingCS=topUsersRatingCS.groupby('movieId').sum()[['similarityIndexCS','weightedRating']]
tempTopUsersRatingCS.columns=['sum_similarityIndex','sum_weightedRating']
tempTopUsersRatingCS.head()

         sum_similarityIndex  sum_weightedRating
movieId
1                        8.0                34.0
10                       7.0                25.0
15                       1.0                 2.0
16                       3.0                13.0
17                       2.0                 8.0

In [394]:
recommendation_df_pc=tempTopUsersRatingPC
recommendation_df_pc['weighted average recommendation score']=recommendation_df_pc['sum_weightedRating']/recommendation_df_pc['sum_similarityIndex']
recommendation_df_pc.head()

,sum_similarityIndex,sum_weightedRating,weighted average recommendation score
movieId,,,
1,21.641479,86.114203,3.979127
10,19.460339,75.168871,3.862670
14,1.866025,7.464102,4.000000
15,1.000000,2.000000,2.000000
16,6.604733,24.060043,3.642849

In [395]:
recommendation_df_pc.shape

(685, 3)

In [396]:
inputUserData.shape

(25, 5)

In [397]:
inputUserData.head()

  userId movieId  rating                  title  year
0    211      17     4.0  Sense and Sensibility  1995
1    211      43     5.0            Restoration  1995
2    211      62     5.0     Mr. Holland's Opus  1995
3    211     110     5.0             Braveheart  1995
4    211     527     5.0       Schindler's List  1993

In [398]:
recommendation_df_pc[recommendation_df_pc.index.isin(inputUserData['movieId'].tolist())].shape

(19, 3)

In [399]:
df_accuracy_pc=recommendation_df_pc[recommendation_df_pc.index.isin(inputUserData['movieId'].tolist())]
df_accuracy_pc.head()

,sum_similarityIndex,sum_weightedRating,weighted average recommendation score
movieId,,,
17,3.944911,12.889822,3.267456
62,6.730156,32.325147,4.803031
110,18.286615,82.364718,4.504099
527,25.271929,120.359646,4.762582
588,23.413933,70.786137,3.023248

In [400]:
recommendation_df_cs=tempTopUsersRatingCS
recommendation_df_cs['weighted average recommendation score']=recommendation_df_cs['sum_weightedRating']/recommendation_df_cs['sum_similarityIndex']
recommendation_df_cs.head()

,sum_similarityIndex,sum_weightedRating,weighted average recommendation score
movieId,,,
1,8.0,34.0,4.250000
10,7.0,25.0,3.571429
15,1.0,2.0,2.000000
16,3.0,13.0,4.333333
17,2.0,8.0,4.000000

In [401]:
recommendation_df_cs.shape

(631, 3)

In [402]:
recommendation_df_pc.drop(columns=['sum_similarityIndex','sum_weightedRating'],inplace=True)
recommendation_df_pc.head()

         weighted average recommendation score
movieId
1                                     3.979127
10                                    3.862670
14                                    4.000000
15                                    2.000000
16                                    3.642849

In [403]:
recommendation_df_cs.drop(columns=['sum_similarityIndex','sum_weightedRating'],inplace=True)
recommendation_df_cs.head()

         weighted average recommendation score
movieId
1                                     4.250000
10                                    3.571429
15                                    2.000000
16                                    4.333333
17                                    4.000000

In [404]:
recommendation_df_cs.shape

(631, 1)

In [405]:
df_accuracy_cs=recommendation_df_cs[recommendation_df_cs.index.isin(inputUserData['movieId'].tolist())]
df_accuracy_cs

         weighted average recommendation score
movieId
17                                    4.000000
43                                    4.000000
62                                    5.000000
110                                   5.000000
527                                   4.300000
588                                   4.250000
648                                   3.333333
778                                   4.200000
832                                   2.500000
1042                                  1.000000
1073                                  5.000000
1207                                  5.000000
1225                                  5.000000
1270                                  4.090909
1293                                  3.500000
1391                                  4.000000
1584                                  5.000000
1617                                  4.000000

In [406]:
recommendation_df_pc.sort_values(by='weighted average recommendation score',ascending=False,inplace=True)
recommendation_df_pc.shape

(685, 1)

In [407]:
recommendation_df_pc.tail()

         weighted average recommendation score
movieId
2505                                  1.000000
6006                                  1.000000
3593                                  0.767949
72378                                 0.500000
2404                                  0.500000

In [408]:
inputUserData.head()

  userId movieId  rating                  title  year
0    211      17     4.0  Sense and Sensibility  1995
1    211      43     5.0            Restoration  1995
2    211      62     5.0     Mr. Holland's Opus  1995
3    211     110     5.0             Braveheart  1995
4    211     527     5.0       Schindler's List  1993

In [409]:
recommendation_df_pc.head(100)

         weighted average recommendation score
movieId
54259                                 5.000000
1073                                  5.000000
51935                                 5.000000
7163                                  5.000000
1701                                  5.000000
...                                        ...
1704                                  4.428311
1214                                  4.407786
4878                                  4.348915
2572                                  4.333333
2959                                  4.324662

[100 rows x 1 columns]

In [410]:
rating_5_pc = (recommendation_df_pc['weighted average recommendation score']>=5).sum()
rating_5_pc

33

In [411]:
recommendation_df_cs.sort_values(by='weighted average recommendation score',ascending=False,inplace=True)
recommendation_df_cs.head(10)

         weighted average recommendation score
movieId
61323                                      5.0
1729                                       5.0
610                                        5.0
53125                                      5.0
55280                                      5.0
1584                                       5.0
56152                                      5.0
3916                                       5.0
1702                                       5.0
3638                                       5.0

In [412]:
rating_5_cs = (recommendation_df_cs['weighted average recommendation score']>=5).sum()
rating_5_cs

53

In [413]:
recommendation_df_pc1=recommendation_df_pc.head(10)
recommendation_df_pc1

         weighted average recommendation score
movieId
54259                                      5.0
1073                                       5.0
51935                                      5.0
7163                                       5.0
1701                                       5.0
4351                                       5.0
68157                                      5.0
48774                                      5.0
31225                                      5.0
63859                                      5.0

In [414]:
recommendation_df_cs1=recommendation_df_cs.head(10)
recommendation_df_cs1

         weighted average recommendation score
movieId
61323                                      5.0
1729                                       5.0
610                                        5.0
53125                                      5.0
55280                                      5.0
1584                                       5.0
56152                                      5.0
3916                                       5.0
1702                                       5.0
3638                                       5.0

In [415]:
recommendation_df_pc2=recommendation_df_pc1.merge(movie, left_on='movieId',right_on='movieId',how='inner')
print("Top 10 recommended movies with knn using pearson coefficient as distance metric:\n")
recommendation_df_pc2

Top 10 recommended movies with knn using pearson coefficient as distance metric:

,movieId,weighted average recommendation score,title,year
0,54259,5.0,Stardust,2007
1,1073,5.0,Willy Wonka & the Chocolate Factory,1971
2,51935,5.0,Shooter,2007
3,7163,5.0,Paycheck,2003
4,1701,5.0,Deconstructing Harry,1997
5,4351,5.0,Point Break,1991
6,68157,5.0,Inglourious Basterds,2009
7,48774,5.0,Children of Men,2006
8,31225,5.0,Coach Carter,2005
9,63859,5.0,Bolt,2008

In [416]:
inputUserData.head()

  userId movieId  rating                  title  year
0    211      17     4.0  Sense and Sensibility  1995
1    211      43     5.0            Restoration  1995
2    211      62     5.0     Mr. Holland's Opus  1995
3    211     110     5.0             Braveheart  1995
4    211     527     5.0       Schindler's List  1993

In [417]:
df_accuracy_pc.head()

,sum_similarityIndex,sum_weightedRating,weighted average recommendation score
movieId,,,
17,3.944911,12.889822,3.267456
62,6.730156,32.325147,4.803031
110,18.286615,82.364718,4.504099
527,25.271929,120.359646,4.762582
588,23.413933,70.786137,3.023248

In [418]:
df_accuracy_pc=df_accuracy_pc.sort_index()

In [419]:
df_accuracy_pc.head()

,sum_similarityIndex,sum_weightedRating,weighted average recommendation score
movieId,,,
17,3.944911,12.889822,3.267456
62,6.730156,32.325147,4.803031
110,18.286615,82.364718,4.504099
527,25.271929,120.359646,4.762582
588,23.413933,70.786137,3.023248

In [420]:
inputUserData_accuracy_pc=inputUserData[inputUserData['movieId'].isin(df_accuracy_pc.index.tolist())]

In [421]:
inputUserData_accuracy_pc=inputUserData_accuracy_pc.sort_values(by='movieId')

In [422]:
inputUserData_accuracy_pc.head()

  userId movieId  rating                  title  year
0    211      17     4.0  Sense and Sensibility  1995
2    211      62     5.0     Mr. Holland's Opus  1995
3    211     110     5.0             Braveheart  1995
4    211     527     5.0       Schindler's List  1993
6    211     588     4.0                Aladdin  1992

In [423]:
inputUserData_accuracy_pc.index

Index([0, 2, 3, 4, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 19, 20, 22, 23, 24], dtype='int64')

In [424]:
inputUserData_accuracy_pc.index = range(len(inputUserData_accuracy_pc))

In [425]:
inputUserData_accuracy_pc.head()

  userId movieId  rating                  title  year
0    211      17     4.0  Sense and Sensibility  1995
1    211      62     5.0     Mr. Holland's Opus  1995
2    211     110     5.0             Braveheart  1995
3    211     527     5.0       Schindler's List  1993
4    211     588     4.0                Aladdin  1992

In [426]:
df_accuracy_pc.index

Index([  17,   62,  110,  527,  588,  647,  648,  778,  832, 1073, 1207, 1225,
       1270, 1293, 1391, 1393, 1407, 1584, 1617],
      dtype='int64', name='movieId')

In [427]:
df_accuracy_pc['movieId']=df_accuracy_pc.index
df_accuracy_pc.head()

,sum_similarityIndex,sum_weightedRating,weighted average recommendation score,movieId
movieId,,,,
17,3.944911,12.889822,3.267456,17
62,6.730156,32.325147,4.803031,62
110,18.286615,82.364718,4.504099,110
527,25.271929,120.359646,4.762582,527
588,23.413933,70.786137,3.023248,588

In [428]:
df_accuracy_pc.index=range(len(df_accuracy_pc))
df_accuracy_pc.head()

,sum_similarityIndex,sum_weightedRating,weighted average recommendation score,movieId
0,3.944911,12.889822,3.267456,17
1,6.730156,32.325147,4.803031,62
2,18.286615,82.364718,4.504099,110
3,25.271929,120.359646,4.762582,527
4,23.413933,70.786137,3.023248,588

In [429]:
df_accuracy_pc.shape

(19, 4)

In [430]:
sum_sd=0
sum_ad=0
for i in range(df_accuracy_pc.shape[0]):
    if(inputUserData_accuracy_pc.iloc[i]['movieId']==df_accuracy_pc.iloc[i]['movieId']):
        sum_sd+=(inputUserData_accuracy_pc.iloc[i]['rating']-df_accuracy_pc.iloc[i]['weighted average recommendation score'])**2
        sum_ad+=abs(inputUserData_accuracy_pc.iloc[i]['rating']-df_accuracy_pc.iloc[i]['weighted average recommendation score'])

rmse=sqrt(sum_sd/df_accuracy_pc.shape[0])
print("rmse of movie recommendations with knn using pearson coefficient:", rmse)

mae=sum_ad/df_accuracy_pc.shape[0]
print("mae of movie recommendations with knn using pearson coefficient:", mae)

rmse of movie recommendations with knn using pearson coefficient: 0.5471328709065095
mae of movie recommendations with knn using pearson coefficient: 0.4317703952371392

In [431]:
recommendation_df_cs2=recommendation_df_cs1.merge(movie, left_on='movieId',right_on='movieId',how='inner')
print("Top 10 recommended movies with knn using cosine similarity as distance metric:\n")
recommendation_df_cs2.head()

Top 10 recommended movies with knn using cosine similarity as distance metric:

,movieId,weighted average recommendation score,title,year
0,61323,5.0,Burn After Reading,2008
1,1729,5.0,Jackie Brown,1997
2,610,5.0,Heavy Metal,1981
3,53125,5.0,Pirates of the Caribbean: At World's End,2007
4,55280,5.0,Lars and the Real Girl,2007

In [432]:
df_accuracy_cs.head()

         weighted average recommendation score
movieId
17                                         4.0
43                                         4.0
62                                         5.0
110                                        5.0
527                                        4.3

In [433]:
df_accuracy_cs.index

Index([  17,   43,   62,  110,  527,  588,  648,  778,  832, 1042, 1073, 1207,
       1225, 1270, 1293, 1391, 1584, 1617],
      dtype='int64', name='movieId')

In [434]:
inputUserData_accuracy_cs=inputUserData[inputUserData['movieId'].isin(df_accuracy_cs.index.tolist())]
inputUserData_accuracy_cs.head()

  userId movieId  rating                  title  year
0    211      17     4.0  Sense and Sensibility  1995
1    211      43     5.0            Restoration  1995
2    211      62     5.0     Mr. Holland's Opus  1995
3    211     110     5.0             Braveheart  1995
4    211     527     5.0       Schindler's List  1993

In [435]:
df_accuracy_cs['movieId']=df_accuracy_cs.index
df_accuracy_cs.head()

/tmp/ipykernel_32/3891483728.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_accuracy_cs['movieId']=df_accuracy_cs.index

         weighted average recommendation score  movieId
movieId
17                                         4.0       17
43                                         4.0       43
62                                         5.0       62
110                                        5.0      110
527                                        4.3      527

In [436]:
df_accuracy_cs.index=range(len(df_accuracy_cs))
df_accuracy_cs.head()

   weighted average recommendation score  movieId
0                                    4.0       17
1                                    4.0       43
2                                    5.0       62
3                                    5.0      110
4                                    4.3      527

In [437]:
inputUserData_accuracy_cs.head()

  userId movieId  rating                  title  year
0    211      17     4.0  Sense and Sensibility  1995
1    211      43     5.0            Restoration  1995
2    211      62     5.0     Mr. Holland's Opus  1995
3    211     110     5.0             Braveheart  1995
4    211     527     5.0       Schindler's List  1993

In [438]:
inputUserData_accuracy_cs=inputUserData_accuracy_cs.sort_values(by='movieId')
inputUserData_accuracy_cs.head()

  userId movieId  rating                  title  year
0    211      17     4.0  Sense and Sensibility  1995
1    211      43     5.0            Restoration  1995
2    211      62     5.0     Mr. Holland's Opus  1995
3    211     110     5.0             Braveheart  1995
4    211     527     5.0       Schindler's List  1993

In [439]:
inputUserData_accuracy_cs.index=range(len(inputUserData_accuracy_cs))
inputUserData_accuracy_cs.head()

  userId movieId  rating                  title  year
0    211      17     4.0  Sense and Sensibility  1995
1    211      43     5.0            Restoration  1995
2    211      62     5.0     Mr. Holland's Opus  1995
3    211     110     5.0             Braveheart  1995
4    211     527     5.0       Schindler's List  1993

In [440]:
df_accuracy_cs=df_accuracy_cs.sort_values(by='movieId')
df_accuracy_cs.head()

   weighted average recommendation score  movieId
0                                    4.0       17
1                                    4.0       43
2                                    5.0       62
3                                    5.0      110
4                                    4.3      527

In [441]:
sum_sd=0
sum_ad=0
for i in range(df_accuracy_cs.shape[0]):
    if(inputUserData_accuracy_cs.iloc[i]['movieId']==df_accuracy_cs.iloc[i]['movieId']):
        sum_sd+=(inputUserData_accuracy_cs.iloc[i]['rating']-df_accuracy_cs.iloc[i]['weighted average recommendation score'])**2
        sum_ad+=abs(inputUserData_accuracy_cs.iloc[i]['rating']-df_accuracy_cs.iloc[i]['weighted average recommendation score'])
        
rmse=sqrt(sum_sd/df_accuracy_cs.shape[0])
print("rmse of movie recommendations with knn using cosine similarity between users:", rmse)

mae=sum_ad/df_accuracy_cs.shape[0]
print("mae of movie recommendations with knn using cosine similarity between users:", mae)

rmse of movie recommendations with knn using cosine similarity between users: 1.2143861940012322
mae of movie recommendations with knn using cosine similarity between users: 0.6615319865319864