In [663]:
import numpy as np
import pandas as pd
from math import sqrt 
import warnings
warnings.filterwarnings('ignore')

In [664]:
movie_movielens = pd.read_csv('/movie-lens-100k/movies.csv')
movielens_temp=pd.read_csv('/movie-lens-100k/movies.csv')
rating = pd.read_csv('/movie-lens-100k/ratings.csv')
movie_tmdb=pd.read_csv('/tmdb-movie-metadata/tmdb_5000_movies.csv')

In [665]:
movie_movielens.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [666]:
movie_movielens.shape

(9125, 3)

In [667]:
rating.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [668]:
rating.shape

(100004, 4)

In [669]:
movie_tmdb.shape

(4803, 20)

In [670]:
movie_tmdb.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [671]:
movielens_temp['year']=movielens_temp.title.str.extract('(\d\d\d\d)',expand=False)
movie_movielens['year']=movie_movielens.title.str.extract('(\d\d\d\d)',expand=False)
movie_movielens.head()

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995

In [672]:
movielens_temp['title']=movielens_temp.title.str.replace('(\(\d\d\d\d\))','',regex=True)
movielens_temp['title']=movielens_temp['title'].apply(lambda x:x.strip())
movie_movielens['title']=movie_movielens.title.str.replace('(\(\d\d\d\d\))','',regex=True)
movie_movielens['title']=movie_movielens['title'].apply(lambda x:x.strip())
movie_movielens.head()

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

In [673]:
movie_tmdb['original_title'] = movie_tmdb['original_title'].astype(str).str.lower().str.replace(' ', '')
movie_movielens['title'] = movie_movielens['title'].astype(str).str.lower().str.replace(' ', '')

In [674]:
len(movie_movielens['title'].unique())

8889

In [675]:
len(movie_tmdb['original_title'].unique())

4801

In [676]:
duplicate_values = movie_tmdb.duplicated(subset='original_title', keep=False)

# Filter the DataFrame to keep only rows with unique values in the specified column
movie_tmdb = movie_tmdb[~duplicate_values]

In [677]:
movie_tmdb.shape

(4799, 20)

In [678]:
duplicate_values = movie_movielens.duplicated(subset='title', keep=False)

# Filter the DataFrame to keep only rows with unique values in the specified column
movie_movielens = movie_movielens[~duplicate_values]

In [679]:
movie_movielens.shape

(8675, 4)

In [680]:
movie=movie_movielens[movie_movielens['title'].isin(movie_tmdb['original_title'].tolist())]
movie.shape

(2455, 4)

In [681]:
movie=movielens_temp[movielens_temp['movieId'].isin(movie['movieId'].tolist())]
movie.shape

(2455, 4)

In [682]:
movie.head()

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
9,10,GoldenEye,Action|Adventure|Thriller,1995
13,14,Nixon,Drama,1995
14,15,Cutthroat Island,Action|Adventure|Romance,1995
15,16,Casino,Crime|Drama,1995

In [683]:
movie.shape

(2455, 4)

In [684]:
len(movie.index)

2455

In [685]:
movie.drop(columns=['genres'],inplace=True)
movie.head()

    movieId             title  year
0         1         Toy Story  1995
9        10         GoldenEye  1995
13       14             Nixon  1995
14       15  Cutthroat Island  1995
15       16            Casino  1995

In [686]:
rating=rating[rating['movieId'].isin(movie['movieId'].tolist())]
rating.shape

(46710, 4)

In [687]:
rating.head()

    userId  movieId  rating   timestamp
2        1     1061     3.0  1260759182
3        1     1129     2.0  1260759185
7        1     1293     2.0  1260759148
10       1     1371     2.5  1260759135
11       1     1405     1.0  1260759203

In [688]:
rating.drop(columns=['timestamp'],inplace=True)

In [689]:
rating.head()

    userId  movieId  rating
2        1     1061     3.0
3        1     1129     2.0
7        1     1293     2.0
10       1     1371     2.5
11       1     1405     1.0

In [690]:
unique_user_ids=rating['userId'].unique()
len(unique_user_ids)

671

In [691]:
from sklearn.model_selection import train_test_split
train_userIds,test_userIds=train_test_split(unique_user_ids,test_size=0.2, random_state=42)
len(train_userIds)

536

In [692]:
len(test_userIds)

135

In [693]:
rating.head()

    userId  movieId  rating
2        1     1061     3.0
3        1     1129     2.0
7        1     1293     2.0
10       1     1371     2.5
11       1     1405     1.0

In [694]:
train_rating = pd.DataFrame(columns=rating.columns)
test_rating = pd.DataFrame(columns=rating.columns)

for userId in train_userIds:
    train_rating=pd.concat([train_rating,rating[rating['userId']==userId]],ignore_index=True)

for userId in test_userIds:
    test_rating=pd.concat([test_rating,rating[rating['userId']==userId]],ignore_index=True)

In [695]:
train_rating

      userId movieId  rating
0        480       1     5.0
1        480      34     3.5
2        480     110     4.0
3        480     150     4.5
4        480     158     4.5
...      ...     ...     ...
35478    103    5816     4.0
35479    103    6502     4.0
35480    103    6874     5.0
35481    103    7438     5.0
35482    103    8636     3.5

[35483 rows x 3 columns]

In [696]:
test_rating

      userId movieId  rating
0        362      70     3.5
1        362     235     3.0
2        362     296     4.5
3        362     356     4.0
4        362     541     4.5
...      ...     ...     ...
11222    236    5009     3.5
11223    236    5378     2.5
11224    236    5440     4.5
11225    236    5989     4.5
11226    236    6711     4.5

[11227 rows x 3 columns]

In [697]:
#Create user profile from user ID (get it from data set)
import random
inputUserID = random.choice(test_userIds)
print(inputUserID)
inputUser = test_rating[test_rating['userId']==inputUserID]
inputUser.shape

303

(114, 3)

In [698]:
inputUser.head()

     userId movieId  rating
9812    303      25     3.5
9813    303      62     3.5
9814    303     223     4.0
9815    303     296     4.0
9816    303     356     3.0

In [699]:
movie.head()

    movieId             title  year
0         1         Toy Story  1995
9        10         GoldenEye  1995
13       14             Nixon  1995
14       15  Cutthroat Island  1995
15       16            Casino  1995

In [700]:
inputUserData = pd.merge(inputUser,movie)
inputUserData.head()

  userId movieId  rating               title  year
0    303      25     3.5   Leaving Las Vegas  1995
1    303      62     3.5  Mr. Holland's Opus  1995
2    303     223     4.0              Clerks  1994
3    303     296     4.0        Pulp Fiction  1994
4    303     356     3.0        Forrest Gump  1994

In [701]:
train_rating.head()

  userId movieId  rating
0    480       1     5.0
1    480      34     3.5
2    480     110     4.0
3    480     150     4.5
4    480     158     4.5

In [702]:
users=train_rating[train_rating['movieId'].isin(inputUserData['movieId'].tolist())]
users

      userId movieId  rating
7        480     223     4.0
8        480     296     4.0
10       480     356     2.0
12       480     377     5.0
13       480     380     3.5
...      ...     ...     ...
35466    103    2959     5.0
35467    103    3033     4.0
35472    103    4226     4.5
35478    103    5816     4.0
35480    103    6874     5.0

[8673 rows x 3 columns]

In [703]:
users.shape

(8673, 3)

In [704]:
#this step is not required as train and test data are different
users=users.drop(users[users['userId']==inputUserID].index)
users.shape

(8673, 3)

In [705]:
userSubsetGroup=users.groupby(['userId'])

In [706]:
userSubsetGroup.head()

      userId movieId  rating
7        480     223     4.0
8        480     296     4.0
10       480     356     2.0
12       480     377     5.0
13       480     380     3.5
...      ...     ...     ...
35443    103     778     4.5
35445    103    1101     2.0
35448    103    1200     4.0
35449    103    1214     5.0
35461    103    2329     4.5

[2329 rows x 3 columns]

In [707]:
userSubsetGroup=sorted(userSubsetGroup,key=lambda x:len(x[1]),reverse=True)

In [708]:
userSubsetGroup[0:1]

[((15,),
        userId movieId  rating
  28251     15      25     3.0
  28256     15      62     2.0
  28277     15     223     4.0
  28284     15     296     5.0
  28288     15     356     1.0
  ...      ...     ...     ...
  28896     15   68954     2.0
  28907     15   72011     2.5
  28910     15   72998     4.0
  28924     15   79132     5.0
  29082     15  134853     1.0

  [106 rows x 3 columns])]

In [709]:
inputUserData.head()

  userId movieId  rating               title  year
0    303      25     3.5   Leaving Las Vegas  1995
1    303      62     3.5  Mr. Holland's Opus  1995
2    303     223     4.0              Clerks  1994
3    303     296     4.0        Pulp Fiction  1994
4    303     356     3.0        Forrest Gump  1994

In [710]:
from scipy.spatial.distance import cosine


pearsonCorDic = {}
cosineSimilarityDic = {}

for name, group in userSubsetGroup:
    group=group.sort_values(by='movieId') #here they are already sorted
    inputUserData=inputUserData.sort_values(by='movieId') #here they are already in sorted order
    
    n=len(group)
    
    #Get the ratings for the movies that are common 
    temp=inputUserData[inputUserData['movieId'].isin(group['movieId'].tolist())]
    
    tempRatingList=temp['rating'].tolist()
    tempGroupList=group['rating'].tolist()
        
    x_mean=sum(tempRatingList)/float(n)
    y_mean=sum(tempGroupList)/float(n)
    
    Sxx= sqrt(sum(pow((i-x_mean),2) for i in tempRatingList))
    Syy= sqrt(sum(pow((i-y_mean),2) for i in tempGroupList))
    
    Sxy= sum((tempRatingList[i]-x_mean)*(tempGroupList[i]-y_mean) for i in range(0,n))
    
    #if denominator is not 0, then divide else 0 correlation
    
    if Sxx!=0 and Syy!=0:
        pearsonCorDic[name[0]]=Sxy/(Sxx*Syy)
    else:
        pearsonCorDic[name[0]]=0
        
    #Calculating cosine similarity
    vector_a = np.array(tempRatingList)
    vector_b = np.array(tempGroupList)
    
    norm_a = np.linalg.norm(vector_a)
    norm_b = np.linalg.norm(vector_b)
    
    vector_a_normalized = vector_a / norm_a
    vector_b_normalized = vector_b / norm_b
    
    cosine_similarity = np.dot(vector_a_normalized,vector_b_normalized)
    
    cosineSimilarityDic[name[0]]=cosine_similarity

In [711]:
pearsonCorDic.items()

dict_items([(15, 0.06772459970321515), (547, 0.021728373382754077), (452, 0.21012936074812125), (509, 0.3680950158505205), (468, 0.33918273483105876), (461, 0.20480784344904213), (654, 0.11893804930518503), (30, 0.24353912540073397), (380, 0.023495980467834077), (388, 0.12255565960143663), (23, 0.0009859722843280428), (268, -0.13792224611280923), (564, 0.23526948116583912), (130, 0.02426103703400725), (472, 0.06948012050692845), (607, 0.3534601672335627), (88, 0.20451557817043642), (463, -0.12179848159258828), (105, 0.10325824509535242), (430, 0.14365330600063383), (306, 0.1422131930997663), (294, 0.23243506088064445), (562, 0.14054106506818412), (232, 0.14193228218062282), (480, -0.052881768666178684), (561, 0.18883062167726522), (665, 0.06983542295086412), (195, 0.08081232403403309), (262, -0.027213476029460126), (518, -0.08125785636395393), (152, 0.29842232834306176), (505, -0.062405305974606896), (358, 0.14156128624816078), (431, 0.2751069477462347), (125, 0.15686210458965497), (598, 0.09214116730728408), (664, 0.34519311561442395), (93, 0.24799890887899337), (243, 0.24588110203891092), (292, 0.18685534266425613), (345, 0.17115181770498608), (17, 0.5091457101935869), (150, 0.10997152832436305), (442, 0.017202756228737178), (587, 0.2422646278567712), (615, -0.16177406483869833), (313, 0.060286855975015964), (433, 0.06676098968944756), (575, -0.05880288154511071), (577, 0.4134780750226372), (627, 0.059611843286619885), (187, 0.1497755049876883), (253, 0.3198848360665743), (295, -0.1493643574822629), (423, 0.3646834356944983), (529, 0.14425789349103027), (574, 0.3959811100457279), (94, -0.17827059776162738), (240, 0.44011304792007133), (242, -0.021227706914049214), (460, 0.25671313600175727), (214, 0.4272152330768921), (384, 0.17327818677177612), (220, 0.3766199565766511), (428, 0.5049678906420635), (514, 0.36968360724064503), (544, 0.10525036651935285), (648, 0.5114280219376194), (373, 0.2423772602626497), (407, 0.2796104421879395), (527, 0.5252392718654572), (157, 0.21998038149941776), (405, 0.28377468125465427), (120, 0.24852506087385431), (382, 0.12541613403470364), (426, 0.14754516843083618), (475, 0.22572377478423916), (584, 0.2230722899518402), (605, -0.023191415408100723), (72, 0.23112508176051216), (283, 0.33904175862046115), (501, 0.19504876828887052), (522, 0.23541329821029122), (4, 0.14096088432739967), (48, 0.16109265544547693), (185, -0.09622504486493763), (235, 0.017550699369499243), (324, 0.016547089241009914), (520, 0.2597398513333507), (22, 0.2667348709818062), (178, 0.3245154194213616), (247, -0.0845853230166239), (275, 0.053338972623419266), (342, 0.5343394133254291), (346, 0.4591386327200823), (378, 0.20716117490357067), (466, -0.08182530096809555), (671, -0.21001244814108178), (199, 0.15587677903708336), (219, 0.3584042755289604), (344, 0.5854145878361897), (439, 0.06668828211301465), (21, 0.08789654655086547), (245, -0.31882395368971733), (402, 0.38517030568770677), (408, 0.3327705439264686), (519, 0.06364779817819288), (68, 0.3135324369990777), (97, -0.05521366140024877), (537, 0.40426479237002866), (239, 0.17900481454840464), (418, 0.04096516928463236), (427, 0.03209565923526221), (471, 0.47339969914637076), (523, -0.015670123374152772), (531, 0.3300220109304176), (585, -0.13588787035962452), (608, 0.27841746289092584), (5, -0.061225552306045455), (8, -0.14265568804332587), (26, 0.25016662595438116), (69, 0.05643298168170515), (297, 0.11583309365626167), (350, 0.20667769727005555), (553, 0.26186589547015743), (75, -0.21088684211362763), (230, 0.409093413496576), (309, 0.02790458462249601), (450, 0.3474636583105804), (59, 0.5755628374710221), (128, -0.1907018254002643), (176, 0.3047993388179561), (234, 0.06951668889620606), (387, -0.3019935211317544), (458, -0.20891175790627736), (655, -0.06452128016951969), (34, 0.12861802823771828), (63, -0.30165571200024616), (175, 0.2893264695907486), (201, 0.5299474253084587), (250, -0.05185920324305069), (379, 0.05456710529566376), (528, 0.40988105839515054), (99, 0.07296484549360706), (216, 0.3579067214374262), (238, 0.22944665232460235), (299, -0.008085263999581113), (304, 0.2356180746331314), (328, -0.024508698803454364), (371, 0.5560978256266309), (386, 0.14153170345738328), (494, 0.32015637686247406), (510, 0.0929320377284585), (534, -0.18509361861233015), (560, 0.4243342123957528), (124, 0.15118465652176963), (160, 0.07506576997163196), (270, 0.15890626607528854), (291, -0.2808751974904427), (422, -0.048412291827592706), (434, 0.3492151478847891), (486, 0.5399537202358848), (497, -0.011141412945539641), (563, 0.2518607033511371), (597, 0.026135418674465897), (599, 0.029047893813576607), (620, 0.17371980724307595), (118, 0.3199731030959018), (143, -0.20398176046300218), (168, 0.36450533456399503), (316, 0.032686022523030725), (367, 0.21669173325849286), (412, 0.0460569457573352), (441, 0.19588990976512194), (525, 0.1688758645607452), (533, 0.15999893461230574), (603, 0.16582343624554874), (623, 0.23149696442744205), (646, 0.01253442099308581), (138, 0.44360697536713456), (139, 0.22589632850509647), (148, 0.3863611462734911), (164, 0.017209792211290254), (263, -0.05431975295206987), (273, 0.29019050004400465), (333, -0.5292377467571571), (420, -0.13963741347625944), (550, 0.12670699913500574), (559, 0.6605515706626154), (592, 0.3521519370364109), (610, 0.0574959574576069), (621, 0.2459122135985311), (38, -0.1978349772491843), (41, -0.202444082544729), (84, -0.175440886380257), (86, 0.7952427724875442), (95, -0.10191773359222912), (217, -0.45600929918005184), (244, -0.20989955134131905), (255, 0.12492797464109584), (432, -0.015099608472228404), (502, 2.6364226920815176e-17), (516, 0.5915592923058212), (545, 0.272479542697363), (582, 0.2439810203618595), (595, 0.18010000164172793), (13, -0.35645976005812496), (43, 0.2706494011521828), (146, 0.38529677944076135), (188, 0.17184007755625597), (271, -0.03342609253232093), (327, -0.2630040663917212), (417, -0.13764120843880714), (425, -0.09233554345569497), (473, -0.10815746314817504), (570, -0.12090123988402353), (92, 0.730804254747509), (352, 0.09186143191866102), (385, 0.1560174307670166), (612, 0.11004508539570718), (647, 0.10778292820499283), (16, -0.05406492136329682), (20, 0.06374957355164232), (33, 0.3605773860967518), (36, 0.8248900219951123), (81, -0.14225916916212622), (85, -0.024007683688367178), (161, -0.09078412990032037), (192, 0.059356502279775715), (218, 0.10298247945061247), (228, -0.09179019563279106), (248, 0.007703940764688814), (370, 0.19813298130565876), (381, 0.6098557767473829), (462, -0.42529794175449176), (487, 0.06765387614254906), (546, 0.06477502756312958), (548, 0.3176763596026762), (567, 0.2999118036141458), (569, -0.0509971686949743), (649, 0.4674985152175327), (2, 0.014931472479041995), (89, -0.031438182573471904), (98, -0.5284762191051984), (103, -0.004289357409743326), (115, 0.2608745973749755), (155, -0.4654518572094078), (189, -0.6733214143560013), (198, -0.19424837651770316), (254, -0.01346931146100915), (287, -0.06061190157454109), (390, -0.13287776639667087), (400, 0.3434014098717225), (416, 0.22619698450711556), (419, -0.029479164414786176), (578, 0.46933398581809765), (590, 0.5081155313256823), (606, -0.20332247637030743), (656, 0.5720053941530369), (74, 0.44988754216992954), (140, -0.3389030014965207), (153, 0.2641352718976871), (163, 0.09256438034556579), (181, 0.11026356928399426), (184, 0.5317147437587532), (208, 0.19687480773953944), (261, 0.01997978070288077), (266, 0.40875248763076666), (281, 0.8095238095238095), (288, 0.4206342337287049), (338, 0.44136741475237473), (391, 0.6268397062400732), (454, 0.5714734501258123), (493, 0.05000694589153866), (496, 0.7134509902381672), (586, 0.08250412530940074), (588, 0.028329634983503695), (593, 0.29232170189900364), (594, 0.5985767067723268), (617, -0.4714743740211389), (633, 0.03636964837266542), (662, -0.09640373590996237), (67, 0.22339574834217074), (117, 0.25253813613805265), (131, 0.12227899701112957), (142, -0.3401680257083045), (151, 0.08512565307587489), (169, -0.6666666666666667), (194, 0.4256282653793742), (206, 0.06565321642986133), (215, 0.0), (267, -0.05590169943749477), (274, 0.40414518843273795), (334, -0.026894744944055287), (354, 0.46776758111881855), (365, 0.4189174702287013), (369, 0.012643043435604332), (542, -0.4900980294098034), (554, 0.1119462786762602), (660, -0.1507556722888818), (27, 0.3101116566101087), (28, 0.5222329678670935), (37, -0.15811388300841897), (60, -0.5572782125753528), (101, 0.03639372626234195), (147, 0.37387825055298296), (179, 0.25000000000000006), (241, 0.5776144422847534), (260, 0.6213697660012), (278, 0.4330343541512469), (401, 0.06085806194501846), (410, -0.11733375052074352), (451, 0.09759000729485333), (456, 0.04364357804719847), (467, 0.0), (503, -0.08848518130026098), (521, 0.7741387344280378), (666, 0.2219149187318845), (9, 0.3338489304447943), (49, 0.30429030972509225), (144, 0.2287698409721184), (145, -0.7660323462854264), (171, 0.13245323570650433), (190, -0.19230769230769226), (197, -0.10606601717798211), (237, 0.5488604301969737), (259, 0.6688560540599386), (264, 0.6605286344459843), (277, -0.09128709291752773), (298, 0.16666666666666669), (308, 0.19802950859533486), (330, 0.17149858514250882), (376, 0.6333004963811237), (440, 0.30661118157475376), (476, 0.711275464500633), (491, -0.12341277798805189), (583, 0.13155870289605434), (601, 0.39999999999999997), (613, 0.08492077756084469), (628, 0.4363499270669106), (6, 0.4390570399587614), (10, 0.29814239699997197), (62, 0.4338609156373123), (96, -0.9191450300180578), (106, 0.7016464154456236), (108, -0.8764598212022148), (126, -0.656532164298613), (172, 0.21483446221182986), (180, 0.12666009927622474), (186, -0.045037734911104514), (202, 0.3321819194149599), (204, -0.595879571531124), (231, 0.2335496832484569), (321, -0.47923383829852306), (340, 0.15617376188860604), (348, -0.4975185951049946), (359, 0.2251886745555224), (364, 0.7850344385868954), (383, 0.2611164839335467), (488, -0.14907119849998599), (515, 0.0), (530, 0.24999999999999997), (539, 0.24253562503633302), (541, 0.12228123584929144), (551, -0.6130060338328881), (591, -0.31500096286861884), (614, 0.0), (644, -0.28221626051507925), (670, 0.2169304578186562), (58, 0.8877834034789706), (104, -0.16666666666666669), (107, 0.5590169943749475), (116, -0.47916666666666663), (122, -0.3273268353539886), (127, 0.14237369936287483), (167, -0.07585826061362601), (210, 0.720576692122892), (249, -0.42257712736425823), (296, 0.8414522910076113), (302, -0.48424799847909317), (360, 0.2721655269759086), (375, -0.6201736729460423), (398, 0.7319250547114), (406, 0.48712230044745464), (409, 0.6454972243679027), (446, 0.1336306209562122), (447, -0.7905694150420948), (449, 0.0), (455, 0.5393193716300061), (495, 0.375), (499, 0.1336306209562122), (513, 0.5976143046671968), (532, 0.45643546458763845), (556, -0.14808721943977307), (568, -0.024140227479263407), (573, 0.32732683535398854), (600, 0.25663245128736834), (653, -0.5601120336112039), (661, 0.0), (669, -0.23312620206007845), (24, 0.8164965809277259), (39, 0.30151134457776363), (53, -0.3333333333333333), (114, -0.420084025208403), (173, 0.5773502691896257), (191, 0.4999999999999999), (196, -0.0582222509739582), (224, 1.0), (225, -0.8528028654224417), (229, 0), (305, 0.5222329678670935), (314, -0.5222329678670935), (315, 0.0), (317, -0.8660254037844387), (326, -0.8164965809277261), (331, 0.0), (343, 0.3333333333333333), (351, 0.0), (399, 0.983337952282587), (414, 0.9045340337332909), (415, 0.0), (424, -0.9438798074485389), (429, 0.8320502943378437), (435, -0.32444284226152503), (443, 0.440225453162812), (489, -0.8944271909999159), (511, 0.0), (526, 0.33333333333333337), (536, 0.5773502691896258), (571, 0.903696114115064), (576, 0.17407765595569785), (589, -0.973328526784575), (616, -0.5773502691896258), (622, 0), (632, 0.0), (645, 0.4999999999999999), (657, 0.8528028654224417), (12, -0.14285714285714293), (46, 0), (90, 0.8660254037844385), (100, 0), (141, 0.5), (174, -0.038461538461538484), (246, 0), (256, 0), (284, 0), (286, 0), (323, 0.9897433186107872), (336, 0), (349, 0), (366, -0.5000000000000001), (372, -0.3273268353539886), (374, 0.8660254037844385), (389, 0), (392, -1.0000000000000002), (393, 0.0), (395, 0.8660254037844385), (411, 0.5), (413, 0), (436, 0.0), (448, 0.9449111825230684), (484, 0), (498, 0.5000000000000001), (507, -0.5000000000000001), (565, -0.9999999999999998), (636, 0.5000000000000001), (639, 0.5000000000000001), (651, -0.5000000000000001), (18, 0), (44, 0), (47, 0), (65, 0), (80, 0.9999999999999998), (112, 0), (170, -0.9999999999999998), (203, 0), (207, 1.0), (223, 0), (252, 0), (272, 0.9999999999999998), (280, 0), (310, -0.9999999999999998), (325, -1.0000000000000002), (329, 0), (397, 0.9999999999999998), (403, 0), (445, -0.9999999999999998), (459, 0), (470, 0.9999999999999998), (485, 1.0), (506, 0), (604, 0.9999999999999998), (609, -0.9999999999999998), (631, 0.9999999999999998), (634, -0.9999999999999998), (640, 0), (14, 0), (29, 0), (51, 0), (54, 0), (113, 0), (123, 0), (129, 0), (135, 0), (154, 0), (158, 0), (162, 0), (226, 0), (233, 0), (269, 0), (289, 0), (318, 0), (322, 0), (341, 0), (357, 0), (377, 0), (404, 0), (469, 0), (477, 0), (490, 0), (504, 0), (543, 0), (549, 0), (579, 0), (581, 0), (637, 0), (643, 0), (650, 0)])

In [712]:
cosineSimilarityDic.items()

dict_items([(15, 0.9083838907300391), (547, 0.9228285167838768), (452, 0.9602657154578083), (509, 0.9669974471707276), (468, 0.9756168767826284), (461, 0.9612605449300167), (654, 0.9672319339063076), (30, 0.9731510641186176), (380, 0.9697712829345568), (388, 0.9600009610747059), (23, 0.9610799097052927), (268, 0.9501038749613402), (564, 0.9549019607843137), (130, 0.961870112503665), (472, 0.9573896723715024), (607, 0.9683634131055316), (88, 0.9589095579975562), (463, 0.9555789368700617), (105, 0.9653117028903105), (430, 0.9685997561940888), (306, 0.9704603988473137), (294, 0.9705611394903844), (562, 0.9726898814337127), (232, 0.968442626537257), (480, 0.9231642174403394), (561, 0.9610896060871151), (665, 0.9535683227041273), (195, 0.9313968491191998), (262, 0.9244512939590428), (518, 0.9543292230022676), (152, 0.9609437937525087), (505, 0.9721634429031192), (358, 0.9588675440313802), (431, 0.9716352544333698), (125, 0.954644412750878), (598, 0.9707419163247624), (664, 0.9828290434030192), (93, 0.9750362276305843), (243, 0.971110177313071), (292, 0.9696716477853706), (345, 0.9584977015648282), (17, 0.9634657550967913), (150, 0.9395643058945699), (442, 0.962079281733599), (587, 0.9831985779182759), (615, 0.9712916980885422), (313, 0.9555222109885516), (433, 0.9587777751815261), (575, 0.9349180952338558), (577, 0.9809184510208083), (627, 0.9490822138929718), (187, 0.9575043621356812), (253, 0.9754793200488792), (295, 0.966129614880187), (423, 0.9675686387395279), (529, 0.9451741273289013), (574, 0.9715643515837173), (94, 0.944536440813893), (240, 0.9797500979487468), (242, 0.9832261691367733), (460, 0.9721118271748992), (214, 0.9835882251925657), (384, 0.9702397859491002), (220, 0.9567176968021055), (428, 0.9736441284693121), (514, 0.9741382929421211), (544, 0.9793250723402832), (648, 0.9750023093221606), (373, 0.9726451190236638), (407, 0.9849215232134824), (527, 0.9656627523890499), (157, 0.9665294099825881), (405, 0.9469862767336957), (120, 0.9677519490286598), (382, 0.9307246984305566), (426, 0.9581603689195083), (475, 0.9681153005445916), (584, 0.9587263993711785), (605, 0.9313732454176373), (72, 0.9805371022793155), (283, 0.9594146640997769), (501, 0.9804767322022573), (522, 0.9760111408179377), (4, 0.9824236910716813), (48, 0.9813114885813582), (185, 0.9772994485870862), (235, 0.9651943877784543), (324, 0.9773644924861136), (520, 0.9822372156390713), (22, 0.9539895253687063), (178, 0.9757917296027162), (247, 0.9512536138462622), (275, 0.9831090759146413), (342, 0.9887916028853566), (346, 0.9607615875030946), (378, 0.9570352898670754), (466, 0.943449006913375), (671, 0.9674129212896243), (199, 0.9767969282677182), (219, 0.9649019794548354), (344, 0.976877737133376), (439, 0.9644821673794375), (21, 0.9584959994041037), (245, 0.943774609102456), (402, 0.9817112070860755), (408, 0.9310328621052719), (519, 0.9650745814240174), (68, 0.9686790102048848), (97, 0.9084274201236634), (537, 0.9745912422410726), (239, 0.9751048323012245), (418, 0.9300990448722832), (427, 0.9661231235533556), (471, 0.978771629693943), (523, 0.967988177558318), (531, 0.9441008644678273), (585, 0.980192539637406), (608, 0.9778442568321657), (5, 0.9550028181170691), (8, 0.9694579938773471), (26, 0.9655030270842723), (69, 0.9648649963334297), (297, 0.9633332410887607), (350, 0.9719530830591899), (553, 0.9742007251637633), (75, 0.948064382584257), (230, 0.9845481030462804), (309, 0.9767316721397367), (450, 0.9869052804377361), (59, 0.9339807580372312), (128, 0.9470672652664587), (176, 0.9651716659700211), (234, 0.9677128088712644), (387, 0.9586655609304106), (458, 0.9559731839572587), (655, 0.9660883223599719), (34, 0.9774214985924671), (63, 0.9282293934605378), (175, 0.968750245186422), (201, 0.9858388651776715), (250, 0.9786956185620306), (379, 0.9789609674759804), (528, 0.9786278510530505), (99, 0.9678467852951751), (216, 0.9903470523219408), (238, 0.9576202392588893), (299, 0.9577030445660706), (304, 0.941221761845132), (328, 0.9799042203416246), (371, 0.9790555213108095), (386, 0.9630762206848956), (494, 0.9816670547042745), (510, 0.9042723665536051), (534, 0.9276255292553096), (560, 0.9805364617167995), (124, 0.9609685683314115), (160, 0.9526608233285332), (270, 0.972443749979584), (291, 0.9734189345839923), (422, 0.9552832169286738), (434, 0.9580494807162245), (486, 0.9724583506768542), (497, 0.9387490289950208), (563, 0.9816146349602581), (597, 0.97966450369584), (599, 0.978401251393317), (620, 0.9433009569458545), (118, 0.9734200179279635), (143, 0.9598756635371674), (168, 0.9710812071731754), (316, 0.9713235797870162), (367, 0.9745896352162279), (412, 0.952660315701926), (441, 0.9580911072701994), (525, 0.9704303223599334), (533, 0.9508128918042038), (603, 0.9486570312600928), (623, 0.9720601271356791), (646, 0.937420950962599), (138, 0.9496096475149409), (139, 0.9578095132732508), (148, 0.9714458939551638), (164, 0.979229143425978), (263, 0.9406486114019496), (273, 0.9805438246170759), (333, 0.9694576052861987), (420, 0.9658339408657949), (550, 0.97029950012508), (559, 0.9896066584172918), (592, 0.9757982483786631), (610, 0.9704749550366356), (621, 0.9851391096789777), (38, 0.9762835879470798), (41, 0.980350929025068), (84, 0.9769155069530076), (86, 0.9776206602967769), (95, 0.9693680568088037), (217, 0.9401489845484193), (244, 0.9198445031914957), (255, 0.9747598211412069), (432, 0.9646880484453003), (502, 0.9669068324775252), (516, 0.9834236574277213), (545, 0.9432449746182824), (582, 0.9318566453654431), (595, 0.952918742990821), (13, 0.969152479954697), (43, 0.9401530657258048), (146, 0.9769655192290665), (188, 0.962736187661215), (271, 0.9653790971410661), (327, 0.9562360923890417), (417, 0.9375411301273693), (425, 0.9207632422380558), (473, 0.970635652475009), (570, 0.9281292163190674), (92, 0.988072566166937), (352, 0.9800648752412598), (385, 0.9565027857478456), (612, 0.9536971113280485), (647, 0.9590010845388411), (16, 0.9676658249113572), (20, 0.8861353960685228), (33, 0.9744095424231164), (36, 0.9894893730257315), (81, 0.9473300678537766), (85, 0.9211961257466696), (161, 0.9538255803628415), (192, 0.9489603116730713), (218, 0.9761476481264069), (228, 0.9557275961184265), (248, 0.9738853321445036), (370, 0.9781373105478519), (381, 0.9667775036405216), (462, 0.9309499779252864), (487, 0.9619083214309305), (546, 0.9585759331463561), (548, 0.967715302350821), (567, 0.9755047433206481), (569, 0.9684241682990881), (649, 0.9728834548512858), (2, 0.9270419364217716), (89, 0.9657388735832362), (98, 0.9421262284295333), (103, 0.9673979124878764), (115, 0.9807640015805101), (155, 0.9317062232248828), (189, 0.8775288718256842), (198, 0.9610363106465312), (254, 0.9729968812976825), (287, 0.9804453452451822), (390, 0.9322640602717711), (400, 0.9674262484123092), (416, 0.9624867266507409), (419, 0.972314113386791), (578, 0.942914072389673), (590, 0.985267590144172), (606, 0.9648733906994649), (656, 0.988495357339147), (74, 0.9818556941373455), (140, 0.9572322893513225), (153, 0.9899369974939151), (163, 0.9508044115532013), (181, 0.973322850621796), (184, 0.9705890317708815), (208, 0.9854198786445636), (261, 0.924184714439101), (266, 0.9663412758164857), (281, 0.9967889609306024), (288, 0.9711402528309762), (338, 0.9839023517883301), (391, 0.9376806986374759), (454, 0.9866168215983714), (493, 0.9590551888245065), (496, 0.9855854648641503), (586, 0.9529113539798386), (588, 0.9760935311867205), (593, 0.9583937179043479), (594, 0.9781030816118287), (617, 0.9146035627907301), (633, 0.9738964606931182), (662, 0.9476114602909763), (67, 0.9617725705815253), (117, 0.9834898831910767), (131, 0.9720931310293799), (142, 0.9365038964268108), (151, 0.9721111047611792), (169, 0.9601661330807626), (194, 0.9781068006029949), (206, 0.9803269663163267), (215, 0.9788289371238119), (267, 0.9895705616753869), (274, 0.993659102447894), (334, 0.9691326409841713), (354, 0.9336344037777715), (365, 0.9743238861598488), (369, 0.9645968321589654), (542, 0.9478918184231147), (554, 0.9479459865432904), (660, 0.9576147404549822), (27, 0.9683296637314885), (28, 0.9768696708756699), (37, 0.9762412004229096), (60, 0.9407850220227372), (101, 0.9728530459643977), (147, 0.9953318440087184), (179, 0.9743760708858722), (241, 0.9855777322529975), (260, 0.9694148046860241), (278, 0.9596510993888036), (401, 0.9698596595714278), (410, 0.868710462688643), (451, 0.8866479449664638), (456, 0.9694658179674366), (467, 0.963285550632305), (503, 0.9815825502507675), (521, 0.9959163081733697), (666, 0.9340808971963417), (9, 0.9791513347822851), (49, 0.9853217374001113), (144, 0.9706496113830669), (145, 0.9586716153012761), (171, 0.9856752825403348), (190, 0.9605979479474512), (197, 0.9755496542653976), (237, 0.9566156532745026), (259, 0.9875170933879922), (264, 0.9895285072531599), (277, 0.983587676541709), (298, 0.9868021483423587), (308, 0.9618600860701234), (330, 0.9048240414463318), (376, 0.9773069338243763), (440, 0.9557709447662215), (476, 0.9707805782710566), (491, 0.9160908537180853), (583, 0.9942269678739676), (601, 0.987129735954716), (613, 0.9747163243132225), (628, 0.9678682509198616), (6, 0.919969520545878), (10, 0.9697080696445401), (62, 0.996030986676729), (96, 0.9589724772577053), (106, 0.9926923527793321), (108, 0.9353373673618575), (126, 0.969437715344183), (172, 0.9398476770418327), (180, 0.9827780644200511), (186, 0.9902780120070798), (202, 0.9765425913229238), (204, 0.941519478774475), (231, 0.9837657981996165), (321, 0.9129525733687391), (340, 0.9780409206521385), (348, 0.848280861260243), (359, 0.9911011307705734), (364, 0.9614555181926804), (383, 0.9527027027027027), (488, 0.9886076644912919), (515, 0.9806313585704501), (530, 0.9900185519400702), (539, 0.9851236530750453), (541, 0.9519030918296856), (551, 0.91284473451167), (591, 0.9130928327805707), (614, 0.965925487909275), (644, 0.954251694574559), (670, 0.9393555566178873), (58, 0.9821863003246125), (104, 0.9878780789067316), (107, 0.9833944155026627), (116, 0.9350963003945579), (122, 0.8948391118307925), (127, 0.9485040136686709), (167, 0.9363134721351141), (210, 0.9966474413999062), (249, 0.9713005236078951), (296, 0.9406892213593062), (302, 0.9178724160051445), (360, 0.9825837137424224), (375, 0.9613554541935396), (398, 0.9910548829514425), (406, 0.8894073118947056), (409, 0.9922314657359198), (446, 0.9923658693499677), (447, 0.9793601694287015), (449, 0.9903427134458536), (455, 0.9914633477835462), (495, 0.9857846356675158), (499, 0.9934302552558869), (513, 0.9841528785733529), (532, 0.9898371787022157), (556, 0.9189126507516387), (568, 0.8900951134192692), (573, 0.9396865811774389), (600, 0.9652964292589776), (653, 0.9621404708847279), (661, 0.9883175243406179), (669, 0.9649775080113799), (24, 0.9981302570118995), (39, 0.9831620769824877), (53, 0.8957607202286274), (114, 0.9191300927555486), (173, 0.9825317458872045), (191, 0.9884936427034503), (196, 0.9113765725556018), (224, 0.9990282349375621), (225, 0.9601136296387953), (229, 0.9982743731749959), (305, 0.9474118007138593), (314, 0.9701795859480677), (315, 0.9776838103778416), (317, 0.8882347881956881), (326, 0.8803928527035957), (331, 0.9706922612264102), (343, 0.9604326419273999), (351, 0.9862088419421887), (399, 0.9962122291899425), (414, 0.9726757679915609), (415, 0.9658102467821683), (424, 0.8697613744498247), (429, 0.9123756607202002), (435, 0.9688564689650477), (443, 0.9787228219737341), (489, 0.9725151059627304), (511, 0.9916824390924329), (526, 0.9980449936610161), (536, 0.9971514422271964), (571, 0.9922063532072017), (576, 0.9719886340703293), (589, 0.9451408364777346), (616, 0.9833206146926958), (622, 0.9961164901835046), (632, 0.9964060484789624), (645, 0.9965043291019193), (657, 0.989977163948508), (12, 0.859660426219745), (46, 0.994832006747614), (90, 0.9775034446223789), (100, 0.9797958971132712), (141, 0.9748663789391028), (174, 0.9527890604773168), (246, 0.9918365981341755), (256, 0.9797958971132712), (284, 1.0), (286, 0.9766244823564243), (323, 0.9943249363585972), (336, 0.9918365981341755), (349, 0.9981149841863163), (366, 0.9599177480434408), (372, 0.9281415202332617), (374, 0.9979517409161516), (389, 0.9949366763261819), (392, 0.9930556599191489), (393, 0.9632371768696173), (395, 0.978539670515729), (411, 0.9961867268641652), (413, 1.0), (436, 0.9720899843225057), (448, 0.9967171510149002), (484, 0.9467292624062574), (498, 0.9546116364258586), (507, 0.9836167015362391), (565, 0.9544253952256019), (636, 0.9961110313020485), (639, 0.9938837346736189), (651, 0.9801019455042927), (18, 0.9938837346736191), (44, 0.9701425001453319), (47, 0.9977851578566088), (65, 0.9805806756909202), (80, 0.9990282349375621), (112, 0.9977851578566088), (170, 0.9486832980505139), (203, 1.0000000000000002), (207, 0.8143654571940346), (223, 1.0), (252, 0.9701425001453319), (272, 0.9999694838187878), (280, 0.9970544855015815), (310, 0.979804058780407), (325, 0.9113705996586748), (329, 0.9701425001453319), (397, 0.9971641204866132), (403, 0.9977851578566089), (445, 0.9811482730462597), (459, 1.0), (470, 0.9998377150265199), (485, 0.9963980072059786), (506, 0.9977851578566089), (604, 0.9978801059658184), (609, 0.7933093260902779), (631, 0.9986534247384324), (634, 0.9587981127083873), (640, 0.9701425001453319), (14, 1.0), (29, 1.0), (51, 1.0), (54, 1.0), (113, 1.0), (123, 1.0), (129, 1.0), (135, 1.0), (154, 1.0), (158, 1.0), (162, 1.0), (226, 1.0), (233, 1.0), (269, 1.0), (289, 1.0), (318, 1.0), (322, 1.0), (341, 1.0), (357, 1.0), (377, 1.0), (404, 1.0), (469, 1.0), (477, 1.0), (490, 1.0), (504, 1.0), (543, 1.0), (549, 1.0), (579, 1.0), (581, 1.0), (637, 1.0), (643, 1.0), (650, 1.0)])

In [713]:
pearsonDF=pd.DataFrame.from_dict(pearsonCorDic,orient='index')
pearsonDF.columns=['similarityIndexPC']
pearsonDF['userId']=pearsonDF.index
pearsonDF.index=range(0,len(pearsonDF))
pearsonDF.head()

   similarityIndexPC  userId
0           0.067725      15
1           0.021728     547
2           0.210129     452
3           0.368095     509
4           0.339183     468

In [714]:
cosineDF=pd.DataFrame.from_dict(cosineSimilarityDic,orient='index')
cosineDF.columns=['similarityIndexCS']
cosineDF['userId']=cosineDF.index
cosineDF.index=range(0,len(cosineDF))
cosineDF.head()

   similarityIndexCS  userId
0           0.908384      15
1           0.922829     547
2           0.960266     452
3           0.966997     509
4           0.975617     468

In [715]:
topUsersPC=pearsonDF.sort_values(by='similarityIndexPC',ascending=False)[0:50]
topUsersPC.head(10)

     similarityIndexPC  userId
489           1.000000     485
407           1.000000     224
476           1.000000     207
493           1.000000     631
479           1.000000     272
488           1.000000     470
472           1.000000      80
484           1.000000     397
491           1.000000     604
447           0.989743     323

In [716]:
topUsersCS=cosineDF.sort_values(by='similarityIndexCS',ascending=False)[0:50]
topUsersCS.head(10)

     similarityIndexCS  userId
475                1.0     203
527                1.0     650
500                1.0     113
508                1.0     233
507                1.0     226
506                1.0     162
505                1.0     158
504                1.0     154
503                1.0     135
501                1.0     123

In [717]:
rating.head()

    userId  movieId  rating
2        1     1061     3.0
3        1     1129     2.0
7        1     1293     2.0
10       1     1371     2.5
11       1     1405     1.0

In [718]:
topUsersRatingPC=topUsersPC.merge(rating,left_on='userId',right_on='userId',how='inner')
topUsersRatingPC.head(300)

     similarityIndexPC  userId  movieId  rating
0             1.000000     485     1918     4.0
1             1.000000     485     2746     4.5
2             1.000000     485     3386     2.5
3             1.000000     485     3826     3.0
4             1.000000     485     3916     4.5
..                 ...     ...      ...     ...
295           0.866025      90     1061     4.0
296           0.866025      90     1073     3.0
297           0.866025      90     1356     4.0
298           0.866025      90     1407     4.0
299           0.866025      90     1438     3.0

[300 rows x 4 columns]

In [719]:
topUsersRatingCS=topUsersCS.merge(rating,left_on='userId',right_on='userId',how='inner')
topUsersRatingCS.head()

   similarityIndexCS  userId  movieId  rating
0                1.0     203       23     3.5
1                1.0     203      541     4.5
2                1.0     203      750     4.5
3                1.0     203     1556     2.5
4                1.0     203     1617     5.0

In [720]:
topUsersRatingPC['weightedRating']=topUsersRatingPC['similarityIndexPC']*topUsersRatingPC['rating']
topUsersRatingPC.head()

   similarityIndexPC  userId  movieId  rating  weightedRating
0                1.0     485     1918     4.0             4.0
1                1.0     485     2746     4.5             4.5
2                1.0     485     3386     2.5             2.5
3                1.0     485     3826     3.0             3.0
4                1.0     485     3916     4.5             4.5

In [721]:
topUsersRatingCS['weightedRating']=topUsersRatingCS['similarityIndexCS']*topUsersRatingCS['rating']
topUsersRatingCS.head()

   similarityIndexCS  userId  movieId  rating  weightedRating
0                1.0     203       23     3.5             3.5
1                1.0     203      541     4.5             4.5
2                1.0     203      750     4.5             4.5
3                1.0     203     1556     2.5             2.5
4                1.0     203     1617     5.0             5.0

In [722]:
tempTopUsersRatingPC=topUsersRatingPC.groupby('movieId').sum()[['similarityIndexPC','weightedRating']]
tempTopUsersRatingPC.columns=['sum_similarityIndex','sum_weightedRating']
tempTopUsersRatingPC.head()

         sum_similarityIndex  sum_weightedRating
movieId
1                  10.683635           41.293072
10                  4.305701           12.777860
14                  0.795243            3.180971
15                  1.358948            2.785850
16                  4.902239           20.414478

In [723]:
tempTopUsersRatingCS=topUsersRatingCS.groupby('movieId').sum()[['similarityIndexCS','weightedRating']]
tempTopUsersRatingCS.columns=['sum_similarityIndex','sum_weightedRating']
tempTopUsersRatingCS.head()

         sum_similarityIndex  sum_weightedRating
movieId
1                  12.992451           47.469884
10                  4.998056           15.994169
14                  5.000000           17.000000
15                  1.000000            2.000000
16                  2.998056           14.990282

In [724]:
recommendation_df_pc=tempTopUsersRatingPC
recommendation_df_pc['weighted average recommendation score']=recommendation_df_pc['sum_weightedRating']/recommendation_df_pc['sum_similarityIndex']
recommendation_df_pc.head()

,sum_similarityIndex,sum_weightedRating,weighted average recommendation score
movieId,,,
1,10.683635,41.293072,3.865077
10,4.305701,12.777860,2.967660
14,0.795243,3.180971,4.000000
15,1.358948,2.785850,2.050005
16,4.902239,20.414478,4.164317

In [725]:
recommendation_df_pc.shape

(523, 3)

In [726]:
inputUserData.shape

(114, 5)

In [727]:
inputUserData.head()

  userId movieId  rating               title  year
0    303      25     3.5   Leaving Las Vegas  1995
1    303      62     3.5  Mr. Holland's Opus  1995
2    303     223     4.0              Clerks  1994
3    303     296     4.0        Pulp Fiction  1994
4    303     356     3.0        Forrest Gump  1994

In [728]:
recommendation_df_pc[recommendation_df_pc.index.isin(inputUserData['movieId'].tolist())].shape

(81, 3)

In [729]:
df_accuracy_pc=recommendation_df_pc[recommendation_df_pc.index.isin(inputUserData['movieId'].tolist())]
df_accuracy_pc.head()

,sum_similarityIndex,sum_weightedRating,weighted average recommendation score
movieId,,,
25,7.316408,27.939755,3.818780
62,2.816848,10.454797,3.711523
223,5.726962,25.970739,4.534820
296,13.562288,62.112392,4.579787
356,11.893084,44.112462,3.709085

In [730]:
recommendation_df_cs=tempTopUsersRatingCS
recommendation_df_cs['weighted average recommendation score']=recommendation_df_cs['sum_weightedRating']/recommendation_df_cs['sum_similarityIndex']
recommendation_df_cs.head()

,sum_similarityIndex,sum_weightedRating,weighted average recommendation score
movieId,,,
1,12.992451,47.469884,3.653651
10,4.998056,15.994169,3.200078
14,5.000000,17.000000,3.400000
15,1.000000,2.000000,2.000000
16,2.998056,14.990282,5.000000

In [731]:
recommendation_df_cs.shape

(388, 3)

In [732]:
recommendation_df_pc.drop(columns=['sum_similarityIndex','sum_weightedRating'],inplace=True)
recommendation_df_pc.head()

         weighted average recommendation score
movieId
1                                     3.865077
10                                    2.967660
14                                    4.000000
15                                    2.050005
16                                    4.164317

In [733]:
recommendation_df_cs.drop(columns=['sum_similarityIndex','sum_weightedRating'],inplace=True)
recommendation_df_cs.head()

         weighted average recommendation score
movieId
1                                     3.653651
10                                    3.200078
14                                    3.400000
15                                    2.000000
16                                    5.000000

In [734]:
recommendation_df_cs.shape

(388, 1)

In [735]:
df_accuracy_cs=recommendation_df_cs[recommendation_df_cs.index.isin(inputUserData['movieId'].tolist())]
df_accuracy_cs

         weighted average recommendation score
movieId
25                                    3.857375
62                                    4.000000
223                                   4.499757
296                                   3.800053
356                                   4.000000
380                                   4.000000
527                                   5.000000
590                                   4.000000
594                                   1.000000
750                                   3.750000
778                                   4.749939
920                                   4.500000
953                                   4.249953
1028                                  3.500000
1073                                  3.250069
1097                                  3.000000
1193                                  4.500000
1639                                  4.000000
1704                                  5.000000
1961                                  3.499959
2028                                  3.499487
2115                                  4.000000
2174                                  2.500000
2396                                  3.000000
2539                                  4.000000
2959                                  4.500000
3210                                  4.500000
3386                                  2.750000
3552                                  3.000000
3949                                  3.000000
4226                                  4.000000
4571                                  0.500000
4886                                  3.000000
6942                                  4.500000
8368                                  4.000000
63082                                 4.500000
69757                                 4.500000
79132                                 3.249266
134853                                3.999518

In [736]:
recommendation_df_pc.sort_values(by='weighted average recommendation score',ascending=False,inplace=True)
recommendation_df_pc.shape

(523, 1)

In [737]:
recommendation_df_pc.tail()

         weighted average recommendation score
movieId
2336                                       0.5
1644                                       0.5
69757                                      0.5
46976                                      0.5
3991                                       0.5

In [738]:
inputUserData.head()

  userId movieId  rating               title  year
0    303      25     3.5   Leaving Las Vegas  1995
1    303      62     3.5  Mr. Holland's Opus  1995
2    303     223     4.0              Clerks  1994
3    303     296     4.0        Pulp Fiction  1994
4    303     356     3.0        Forrest Gump  1994

In [739]:
recommendation_df_pc.head(100)

         weighted average recommendation score
movieId
3114                                  5.000000
5254                                  5.000000
1590                                  5.000000
4027                                  5.000000
4033                                  5.000000
...                                        ...
2599                                  4.472275
1387                                  4.463904
778                                   4.438292
1207                                  4.436897
1213                                  4.428203

[100 rows x 1 columns]

In [740]:
rating_5_pc = (recommendation_df_pc['weighted average recommendation score']>=5).sum()
rating_5_pc

58

In [741]:
recommendation_df_cs.sort_values(by='weighted average recommendation score',ascending=False,inplace=True)
recommendation_df_cs.head(10)

         weighted average recommendation score
movieId
5415                                       5.0
5254                                       5.0
5312                                       5.0
5387                                       5.0
3916                                       5.0
1499                                       5.0
110                                        5.0
44199                                      5.0
1376                                       5.0
1371                                       5.0

In [742]:
rating_5_cs = (recommendation_df_cs['weighted average recommendation score']>=5).sum()
rating_5_cs

42

In [743]:
recommendation_df_pc1=recommendation_df_pc.head(10)
recommendation_df_pc1

         weighted average recommendation score
movieId
3114                                       5.0
5254                                       5.0
1590                                       5.0
4027                                       5.0
4033                                       5.0
4039                                       5.0
4190                                       5.0
4361                                       5.0
4447                                       5.0
4814                                       5.0

In [744]:
recommendation_df_cs1=recommendation_df_cs.head(10)
recommendation_df_cs1

         weighted average recommendation score
movieId
5415                                       5.0
5254                                       5.0
5312                                       5.0
5387                                       5.0
3916                                       5.0
1499                                       5.0
110                                        5.0
44199                                      5.0
1376                                       5.0
1371                                       5.0

In [745]:
recommendation_df_pc2=recommendation_df_pc1.merge(movie, left_on='movieId',right_on='movieId',how='inner')
print("Top 10 recommended movies with knn using pearson coefficient as distance metric:\n")
recommendation_df_pc2

Top 10 recommended movies with knn using pearson coefficient as distance metric:

,movieId,weighted average recommendation score,title,year
0,3114,5.0,Toy Story 2,1999
1,5254,5.0,Blade II,2002
2,1590,5.0,Event Horizon,1997
3,4027,5.0,"O Brother, Where Art Thou?",2000
4,4033,5.0,Thirteen Days,2000
5,4039,5.0,Annie,1982
6,4190,5.0,Elmer Gantry,1960
7,4361,5.0,Tootsie,1982
8,4447,5.0,Legally Blonde,2001
9,4814,5.0,Don't Say a Word,2001

In [746]:
inputUserData.head()

  userId movieId  rating               title  year
0    303      25     3.5   Leaving Las Vegas  1995
1    303      62     3.5  Mr. Holland's Opus  1995
2    303     223     4.0              Clerks  1994
3    303     296     4.0        Pulp Fiction  1994
4    303     356     3.0        Forrest Gump  1994

In [747]:
df_accuracy_pc.head()

,sum_similarityIndex,sum_weightedRating,weighted average recommendation score
movieId,,,
25,7.316408,27.939755,3.818780
62,2.816848,10.454797,3.711523
223,5.726962,25.970739,4.534820
296,13.562288,62.112392,4.579787
356,11.893084,44.112462,3.709085

In [748]:
df_accuracy_pc=df_accuracy_pc.sort_index()

In [749]:
df_accuracy_pc.head()

,sum_similarityIndex,sum_weightedRating,weighted average recommendation score
movieId,,,
25,7.316408,27.939755,3.818780
62,2.816848,10.454797,3.711523
223,5.726962,25.970739,4.534820
296,13.562288,62.112392,4.579787
356,11.893084,44.112462,3.709085

In [750]:
inputUserData_accuracy_pc=inputUserData[inputUserData['movieId'].isin(df_accuracy_pc.index.tolist())]

In [751]:
inputUserData_accuracy_pc=inputUserData_accuracy_pc.sort_values(by='movieId')

In [752]:
inputUserData_accuracy_pc.head()

  userId movieId  rating               title  year
0    303      25     3.5   Leaving Las Vegas  1995
1    303      62     3.5  Mr. Holland's Opus  1995
2    303     223     4.0              Clerks  1994
3    303     296     4.0        Pulp Fiction  1994
4    303     356     3.0        Forrest Gump  1994

In [753]:
inputUserData_accuracy_pc.index

Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,  27,  28,
        29,  30,  31,  33,  34,  35,  36,  37,  38,  39,  40,  41,  42,  44,
        45,  48,  49,  50,  51,  52,  53,  54,  55,  56,  57,  58,  59,  60,
        61,  62,  63,  64,  65,  69,  70,  72,  75,  76,  77,  79,  81,  84,
        88,  90,  92,  97, 105, 108, 109, 110, 111, 112, 113],
      dtype='int64')

In [754]:
inputUserData_accuracy_pc.index = range(len(inputUserData_accuracy_pc))

In [755]:
inputUserData_accuracy_pc.head()

  userId movieId  rating               title  year
0    303      25     3.5   Leaving Las Vegas  1995
1    303      62     3.5  Mr. Holland's Opus  1995
2    303     223     4.0              Clerks  1994
3    303     296     4.0        Pulp Fiction  1994
4    303     356     3.0        Forrest Gump  1994

In [756]:
df_accuracy_pc.index

Index([    25,     62,    223,    296,    356,    377,    380,    500,    508,
          527,    586,    587,    590,    594,    597,    778,    920,    953,
         1028,   1036,   1073,   1089,   1090,   1097,   1101,   1136,   1193,
         1200,   1213,   1214,   1225,   1246,   1259,   1265,   1270,   1307,
         1380,   1517,   1639,   1674,   1704,   1961,   1962,   2028,   2100,
         2115,   2174,   2291,   2302,   2329,   2396,   2470,   2539,   2640,
         2706,   2712,   2791,   2797,   2858,   2959,   2997,   3210,   3386,
         3552,   4018,   4022,   4027,   4226,   4306,   4886,   5816,   5991,
         6711,   8464,  56367,  68954,  69757,  72011,  72998,  79132, 134853],
      dtype='int64', name='movieId')

In [757]:
df_accuracy_pc['movieId']=df_accuracy_pc.index
df_accuracy_pc.head()

,sum_similarityIndex,sum_weightedRating,weighted average recommendation score,movieId
movieId,,,,
25,7.316408,27.939755,3.818780,25
62,2.816848,10.454797,3.711523,62
223,5.726962,25.970739,4.534820,223
296,13.562288,62.112392,4.579787,296
356,11.893084,44.112462,3.709085,356

In [758]:
df_accuracy_pc.index=range(len(df_accuracy_pc))
df_accuracy_pc.head()

,sum_similarityIndex,sum_weightedRating,weighted average recommendation score,movieId
0,7.316408,27.939755,3.818780,25
1,2.816848,10.454797,3.711523,62
2,5.726962,25.970739,4.534820,223
3,13.562288,62.112392,4.579787,296
4,11.893084,44.112462,3.709085,356

In [759]:
df_accuracy_pc.shape

(81, 4)

In [760]:
sum_sd=0
sum_ad=0
for i in range(df_accuracy_pc.shape[0]):
    if(inputUserData_accuracy_pc.iloc[i]['movieId']==df_accuracy_pc.iloc[i]['movieId']):
        sum_sd+=(inputUserData_accuracy_pc.iloc[i]['rating']-df_accuracy_pc.iloc[i]['weighted average recommendation score'])**2
        sum_ad+=abs(inputUserData_accuracy_pc.iloc[i]['rating']-df_accuracy_pc.iloc[i]['weighted average recommendation score'])

rmse=sqrt(sum_sd/df_accuracy_pc.shape[0])
print("rmse of movie recommendations with knn using pearson coefficient:", rmse)

mae=sum_ad/df_accuracy_pc.shape[0]
print("mae of movie recommendations with knn using pearson coefficient:", mae)

rmse of movie recommendations with knn using pearson coefficient: 0.8137349899496705
mae of movie recommendations with knn using pearson coefficient: 0.5876736095834121

In [761]:
recommendation_df_cs2=recommendation_df_cs1.merge(movie, left_on='movieId',right_on='movieId',how='inner')
print("Top 10 recommended movies with knn using cosine similarity as distance metric:\n")
recommendation_df_cs2.head()

Top 10 recommended movies with knn using cosine similarity as distance metric:

,movieId,weighted average recommendation score,title,year
0,5415,5.0,Divine Secrets of the Ya-Ya Sisterhood,2002
1,5254,5.0,Blade II,2002
2,5312,5.0,Murder by Numbers,2002
3,5387,5.0,Enough,2002
4,3916,5.0,Remember the Titans,2000

In [762]:
df_accuracy_cs.head()

         weighted average recommendation score
movieId
25                                    3.857375
62                                    4.000000
223                                   4.499757
296                                   3.800053
356                                   4.000000

In [763]:
df_accuracy_cs.index

Index([    25,     62,    223,    296,    356,    380,    527,    590,    594,
          750,    778,    920,    953,   1028,   1073,   1097,   1193,   1639,
         1704,   1961,   2028,   2115,   2174,   2396,   2539,   2959,   3210,
         3386,   3552,   3949,   4226,   4571,   4886,   6942,   8368,  63082,
        69757,  79132, 134853],
      dtype='int64', name='movieId')

In [764]:
inputUserData_accuracy_cs=inputUserData[inputUserData['movieId'].isin(df_accuracy_cs.index.tolist())]
inputUserData_accuracy_cs.head()

  userId movieId  rating               title  year
0    303      25     3.5   Leaving Las Vegas  1995
1    303      62     3.5  Mr. Holland's Opus  1995
2    303     223     4.0              Clerks  1994
3    303     296     4.0        Pulp Fiction  1994
4    303     356     3.0        Forrest Gump  1994

In [765]:
df_accuracy_cs['movieId']=df_accuracy_cs.index
df_accuracy_cs.head()

         weighted average recommendation score  movieId
movieId
25                                    3.857375       25
62                                    4.000000       62
223                                   4.499757      223
296                                   3.800053      296
356                                   4.000000      356

In [766]:
df_accuracy_cs.index=range(len(df_accuracy_cs))
df_accuracy_cs.head()

   weighted average recommendation score  movieId
0                               3.857375       25
1                               4.000000       62
2                               4.499757      223
3                               3.800053      296
4                               4.000000      356

In [767]:
inputUserData_accuracy_cs.head()

  userId movieId  rating               title  year
0    303      25     3.5   Leaving Las Vegas  1995
1    303      62     3.5  Mr. Holland's Opus  1995
2    303     223     4.0              Clerks  1994
3    303     296     4.0        Pulp Fiction  1994
4    303     356     3.0        Forrest Gump  1994

In [768]:
inputUserData_accuracy_cs=inputUserData_accuracy_cs.sort_values(by='movieId')
inputUserData_accuracy_cs.head()

  userId movieId  rating               title  year
0    303      25     3.5   Leaving Las Vegas  1995
1    303      62     3.5  Mr. Holland's Opus  1995
2    303     223     4.0              Clerks  1994
3    303     296     4.0        Pulp Fiction  1994
4    303     356     3.0        Forrest Gump  1994

In [769]:
inputUserData_accuracy_cs.index=range(len(inputUserData_accuracy_cs))
inputUserData_accuracy_cs.head()

  userId movieId  rating               title  year
0    303      25     3.5   Leaving Las Vegas  1995
1    303      62     3.5  Mr. Holland's Opus  1995
2    303     223     4.0              Clerks  1994
3    303     296     4.0        Pulp Fiction  1994
4    303     356     3.0        Forrest Gump  1994

In [770]:
df_accuracy_cs=df_accuracy_cs.sort_values(by='movieId')
df_accuracy_cs.head()

   weighted average recommendation score  movieId
0                               3.857375       25
1                               4.000000       62
2                               4.499757      223
3                               3.800053      296
4                               4.000000      356

In [771]:
sum_sd=0
sum_ad=0
for i in range(df_accuracy_cs.shape[0]):
    if(inputUserData_accuracy_cs.iloc[i]['movieId']==df_accuracy_cs.iloc[i]['movieId']):
        sum_sd+=(inputUserData_accuracy_cs.iloc[i]['rating']-df_accuracy_cs.iloc[i]['weighted average recommendation score'])**2
        sum_ad+=abs(inputUserData_accuracy_cs.iloc[i]['rating']-df_accuracy_cs.iloc[i]['weighted average recommendation score'])
        
rmse=sqrt(sum_sd/df_accuracy_cs.shape[0])
print("rmse of movie recommendations with knn using cosine similarity between users:", rmse)

mae=sum_ad/df_accuracy_cs.shape[0]
print("mae of movie recommendations with knn using cosine similarity between users:", mae)

rmse of movie recommendations with knn using cosine similarity between users: 1.016447378586754
mae of movie recommendations with knn using cosine similarity between users: 0.680991541895554